---
title: Čo ponúka YouTube pre vaše prednášky
#subtitle: |
#    updated version for 2023
description: |
    YouTube poznáme všetci ako platformu na zdieľanie videí. Na tomto workshope nás bude zaujímať, ako môžeme túto službu využiť na poskytovanie online vzdelávania. Pozrieme sa na to, ako videá do tejto služby nahrávať, ale aj ako je možné službu využiť na online vysielanie. Ukážeme si, ako je možné vlastné video strihať priamo v tejto službe, ako videá organizovať a značkovať s cieľom zvýšenia ich dopadu a v neposlednom rade sa pozrieme na to, čo sa vieme dozvedieť zo štatistík samotných videí.
    Účastníci workshopu by mali mať svoj vlastný Gmail účet a mali by mať nainštalovaný program OBS Studio.
duration: 120
layout: slide
theme: night
date: 2023-11-22
#bitly: https://bit.ly/3QVWwiG
event:
    title: Inovatívne trendy vo VŠ vzdelávaní
    url: http://educationmatters.ekf.tuke.sk
categories: talk
language: english
authors:
    - name: Mirek Biňas
      email: mirek@cnl.sk
      url: https://bletvaska.github.io
todo:
---


<style>
section#bash-script-template pre,
section#bash-module-template pre
{
    font-size: 0.35em;
}

section#bats-test-example pre {
    font-size: 0.5em;
}
</style>

{% include first.slide.html %}


<section data-markdown id="this-is-mirek">
![mirek](../../images/mirek.na.hackathone.jpg)
</section>


<section data-markdown id="intro">
## O čom to bude
### (a aj nebude)

* skúsenosti z covid-u a z prípravy [Namakaných webinárov](http://namakanyden.sk/webinare/)
* ako spraviť live stream ([OBS Studio](https://obsproject.com))
* ako spraviť postprocessing ([YouTube Studio](https://studio.youtube.com))
* čo hovoria štatistiky ([YouTube Studio](https://studio.youtube.com) a [vidIQ](https://vidiq.com))
</section>


<section data-markdown id="obs-studio" data-background="images/obs-studio.jpg">
</section>


<section data-markdown id="scenes">
## #1 Príprava scén
</section>


<section data-markdown id="scenes-todo">
## Scény

* vytvorenie scén pre vysielanie
  * iba plochy
  * iba prednášajúceho (cez kameru)
  * aj plochy aj prednášajúceho
</section>


<section data-markdown id="local-recording">
## #2 Lokálny záznam
</section>


<section data-markdown id="streaming">
## #3 Živé vysielanie
</section>


<section data-markdown id="youtube-studio" data-background="white">
[![YouTube Studio](images/youtube.studio.png)](https://studio.youtube.com)
</section>


<section data-markdown id="questions">
## Otázky?
</section>


<section data-markdown id="resources">
## Zdroje

* [OBS Studio](https://obsproject.com) - domovská stránka
* [vidIQ](https://vidiq.com) - domovská stránka
* [studio YouTube](https://studio.youtube.com) - domovská stránka
</section>

{% include qr.html %}

