---
title: Čo ponúka YouTube pre vaše prednášky
#subtitle: |
#    updated version for 2023
description: |
    YouTube poznáme všetci ako platformu na zdieľanie videí. Na tomto workshope nás bude zaujímať, ako môžeme túto službu využiť na poskytovanie online vzdelávania. Pozrieme sa na to, ako videá do tejto služby nahrávať, ale aj ako je možné službu využiť na online vysielanie. Ukážeme si, ako je možné vlastné video strihať priamo v tejto službe, ako videá organizovať a značkovať s cieľom zvýšenia ich dopadu a v neposlednom rade sa pozrieme na to, čo sa vieme dozvedieť zo štatistík samotných videí.
    Účastníci workshopu by mali mať svoj vlastný Gmail účet a mali by mať nainštalovaný program OBS Studio.
duration: 120
layout: slide
theme: night
date: 2023-11-23
bitly: https://bit.ly/47OXq6p
event:
    title: Inovatívne trendy vo VŠ vzdelávaní
    url: http://educationmatters.ekf.tuke.sk
categories: talk
language: english
authors:
    - name: Mirek Biňas
      email: mirek@cnl.sk
      url: https://bletvaska.github.io
todo:
---

<style>
#vidiq-achievement > p > a > img {
  width: 60%;
}
</style>

{% include first.slide.html %}


<section data-markdown id="this-is-mirek">
![mirek](../../images/mirek.na.hackathone.jpg)
</section>


<section data-markdown id="preco-youtube">
## Kde bolo tam bolo
</section>


<section data-markdown data-background="images/chalupka.jpg" id="chalupka">
</section>


<section data-markdown id="intro">
## O čom to bude
### (a aj nebude)

* skúsenosti z covid-u a z prípravy [Namakaných webinárov](http://namakanyden.sk/webinare/)
* ako spraviť live stream ([OBS Studio](https://obsproject.com))
* ako spraviť postprocessing ([YouTube Studio](https://studio.youtube.com))
* čo hovoria štatistiky ([YouTube Studio](https://studio.youtube.com) a [vidIQ](https://vidiq.com))
</section>


<section data-markdown id="obs-studio" data-background="images/obs-studio.jpg">
</section>


<section data-markdown id="scenes">
## #1 Príprava scén
</section>


<section data-markdown id="scenes-todo">
## Scény

* vytvorenie scén pre vysielanie
  * iba plochy
  * iba prednášajúceho (cez kameru)
  * aj plochy aj prednášajúceho (overlay)

notes:
* `Nastavenia` > `Video`
</section>


<section data-markdown id="overlay-example">
[![Overlay](images/overlay.jpg)](https://www.youtube.com/watch?v=hiVcgUdjy0A)
</section>


<section data-markdown id="local-recording">
## #2 Lokálny záznam

notes:
* `Nastavenia` > `Video` - rozlíšenie (aj výstupnej) obrazovky a nastavenie FPS
* `Nastavenia` > `Výstup` > `Nahrávanie`
  * Nahrávacia cesta
  * kvalita
  * formát
</section>


<section data-markdown id="local-post-processing">
## #2.5 (Lokálny) Post Processing

notes:
* video editor
  * kdenlive
  * davinci resolve
</section>


<section data-markdown id="post-processing">
* vystrihnúť
  * začiatok a koniec
  * tiché chvíľky, dramatické pauzy
  * ak sa niečo pototo
  * hmm... žeeeee...
</section>


<section data-markdown data-background-color="white" id="kdenlive">
[![kdenlive](images/logo-kdenlive.png)](https://kdenlive.org/)
</section>


<section data-markdown id="streaming">
## #3 Živé vysielanie

notes:
* je potrebné získať streamovací kľúč
  * `Nastavenia` > `Stream` > `Dostať streamovací kľúč`
</section>


<section data-markdown id="post-processing">
## #4 Post Processing
</section>


<section data-markdown id="youtube-studio" data-background="white">
[![YouTube Studio](images/youtube.studio.png)](https://studio.youtube.com)
</section>


<section id="raw-video">
  <h2>Nezostrihané video</h2>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/efpp4Wf1JO8?si=4RoexG_LcmPxRa4p&amp;start=348" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</section>


<section data-markdown id="metadata">
## #5 Metadáta
</section>


<section data-markdown id="metadata-example">
```
Opis videa

Linky:
* https://bletvaska.github.io - domovská stránka

Kapitoly
00:00:00 Privítanie
00:01:23 Prezentovaný medžik
00:04:56 Diskusia

#HashTag #DalsiHashTag
```
</section>


<section data-markdown id="analytika-videa">
## #6 Analytika
</section>


<section data-markdown data-background-color="#139DFF" id="vidiq">
[![](images/logo-vidiq.jpg)](https://vidiq.com)
</section>


<section data-markdown data-background-color="white" id="vidiq-achievement">
[![](images/vidiq.achievement.png)](https://vidiq.com/certificates/IAa7Kvzm2C/?utm_content=10000_views)
</section>


<section data-markdown id="best-practices">
## Niekoľko odporúčaní

* **pozor na veľkosť textov!**
* **pozor na licencie!**
* online prednáška bude trvať 90 minút, ale príprava prednášky offline bude trvať hodiny/dni/týždne
* je to ako natáčanie filmu ;)
  * chce to scenár
  * vstupy "naživo" budete robiť na viackrát
* viac kratších vs jedno dlhšie video
</section>


<section id="ako-si-vyrobit-citacie-zariadenie">
<iframe width="560" height="315" src="https://www.youtube.com/embed/ExW3eOf6kpw?si=QyqLNHnFN3JbLixn&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

  <p>
    Ľ. Lacko: <a href="https://www.youtube.com/watch?v=ExW3eOf6kpw">Ako si jednoducho vyrobiť čítacie zariadenie pre kameru</a>
  </p>
</section>


<section data-markdown id="questions">
## Otázky?
</section>


<section data-markdown id="resources">
## Zdroje

* [OBS Studio](https://obsproject.com) - domovská stránka
* [vidIQ](https://vidiq.com) - domovská stránka
* [studio YouTube](https://studio.youtube.com) - domovská stránka
* [kdenlive](https://kdenlive.org/) - video editor
</section>

{% include qr.html %}

