<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mega Šupa Application</title>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        h1 {
            text-align: center;
            font-size: 3em;
        }

        .container {
            margin: 5% auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Congratulations aj tebe Miso!</h1>
        <img src="/static/congratulations.gif"/>
    </div>
</body>
</html>
~