---
title: Začíname s IoT
subtitle: alebo prečo sa oplatí venovať IoT už  na stredných školách
duration: 60
date: 2020-12-08
layout: slide
categories: talk
theme: night
description: |
    Popularita IoT v posledných rokoch rýchlo rastie nie len v priemysle, ale aj medzi domácimi kutilmi a nadšencami. Vo veľkej miere za to ďakujeme cenovo dostupným mikrokontrolérom, senzorom, akčným členom alebo jednodoskovým počítačom ako je Raspberry Pi. Tvorba IoT riešení v sebe spája programovacie schopnosti ako aj zručnosti v elektronike a konštrukcii. Návrh a implementácia takýchto riešení si vyžaduje istú dávku kreativity. V tomto príspevku vám ukážem, ako sa kreativita dokáže vďaka jazyku Python, IoT a zaujímavým projektom budovať už na strednej škole. A ako bonus sa v IoT pokúsime nájsť prepojenie všetkých informatických predmetov.
authors:
    - name: mirek
      email: mirek@cnl.sk
      url: https://bletvaska.github.io
event:
    title: IT Akadémia 
    url: http://itakademia.sk/
bitly: https://bit.ly/3lS2LkN
---

<style>
#python-web-frameworks img {
    height: 100px;
}
</style>


<section>
    Začíname už za
    <div id="countdown" style="font-size: 3em"></div>
</section>

{% include countdown.html id="countdown" text=" " deadline="2022-02-28 16:05:00" %}

{% include first.slide.html %}


<section data-markdown id="what-is-iot">
## Čo je to IoT?
</section>


<section data-markdown id="things-and-internet">
## IoT je o Veciach a Internete
</section>


<section data-markdown id="prototyping-first">
## Začnite prototypovaním!
</section>


<section id="iot-service-kit">
    <h2><a href="https://iotservicekit.com">IoT Service Kit</a></h2>
    <iframe title="vimeo-player" src="https://player.vimeo.com/video/145110948" width="640" height="360" frameborder="0" allowfullscreen></iframe>
</section>


<section id="node-red" data-markdown data-background="#8F0000">
[![Node-RED](images/logo-node.red.png)](https://nodered.org)
</section>

<section id="node-red-video" data-background="#8F0000">
    <iframe src="https://www.youtube.com/embed/ksGeUD26Mw0" width="640" height="360" frameborder="0" allowfullscreen></iframe>
</section>


<section data-markdown id="arduino" data-background="white">
[![Arduino Uno](images/arduino.png)](https://www.arduino.cc)
</section>


<section data-markdown id="microbit" data-background="white">
[![micro:bit](images/microbit.gif)](https://microbit.org)
</section>


<section data-markdown id="esp32" data-background="white">
[![esp32](images/esp32.jpg)](http://esp32.net)
</section>


<section data-markdown id="raspberry-pi-pico" data-background="images/rpi.pico.jpg">
</section>


<section data-markdown id="connect-your-pi" data-background="white">
![Zapojte svoje RPi](https://projects-static.raspberrypi.org/projects/raspberry-pi-getting-started/6adfaf6cdb631126c7992ae2737d06d45f58002f/en/images/pi-plug-in.gif)
</section>

<section data-markdown id="raspberry-pi-400" data-background="images/rpi.400.jpg">
</section>


<section data-markdown id="micropython" data-background="white">
[![MicroPython](images/micropython.jpg)](http://micropython.org)
</section>


<section data-markdown id="micropython-on-rpi-pico">
[![Get started with MicroPython on Raspberry Pi Pico](images/micropython.on.rpi.pico.jpg)](https://hackspace.raspberrypi.org/books/micropython-pico)
</section>


<section data-markdown id="pygame-zero">
![Pygame Zero Logo](http://pygame-zero.readthedocs.io/en/stable/_static/logo.svg)
## [Pygame Zero](http://pygame-zero.readthedocs.io/en/stable/)
</section>


<section data-markdown>
### Pygame Zero is for creating games without boilerplate.
</section>


<section data-markdown data-background="images/pygamezero.jpg" data-background-size="contain">
</section>


<section data-markdown id="mission-python">
[![Mission Python: Code a Space Adventure Game!](images/cover-mission.python.png)](https://nostarch.com/missionpython)
</section>


<section data-markdown id="code-the-classics">
[![Code the Classics – Volume 1](images/cover-code.the.classics.jpg)](https://wireframe.raspberrypi.org/books/code-the-classics1)
</section>


<section data-markdown id="getting-started-with-minecraft-pi">
	![Getting Started with Minecraft Pi](https://projects-static.raspberrypi.org/projects/getting-started-with-minecraft-pi/514dbc59d4a34923c07b34e798e3a2972c1d26ff/en/images/banner.png)

	### [Minecraft Pi](https://projects.raspberrypi.org/en/projects/getting-started-with-minecraft-pi)
</section>


<section data-markdown id="adventures-in-minecraft">
[![Adventures in Minecraft](images/cover-adventures.in.minecraft.jpg)](https://www.wiley.com/en-us/Adventures+in+Minecraft,+2nd+Edition-p-9781119439585)
</section>


<section id="adventures-in-minecraft-trailer">
    <iframe width="640" height="360" src="https://www.youtube.com/embed/YoZ9-oYJHb4?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</section>


<section id="piper" data-markdown data-background="white">
[![PIPER](images/logo-piper.png)](https://www.playpiper.com)
</section>


<section id="piper-video">
    <iframe width="640" height="360" src="https://www.youtube.com/embed/3PmgetH65rs" frameborder="0" allowfullscreen></iframe>
</section>


<section id="data-analytics" data-markdown>
## Dátová analytika
</section>


<section id="richard-kollar-nevieme">
    <iframe width="640" height="360" src="https://www.youtube.com/embed/xVVq4P8YtO8" frameborder="0" allowfullscreen></iframe>

    <h3>R. Kollár: Nevieme :(</h3>
</section>


<section id="data-analytics-overview" data-markdown data-background="#241D2D">
![Data Analytics Overview](images/data.analytics.overview.png)
</section>


<section id="web-pages" data-markdown>
## Tvorba webových stránok
</section>


<section id="python-web-frameworks" data-background="white" data-markdown>
[![tornado](images/logo-tornado.png)](https://www.tornadoweb.org/)
[![bottle](images/logo-bottle.png)](https://bottlepy.org/)
[![fastapi](images/logo-fastapi.png)](https://fastapi.tiangolo.com)
[![django](images/logo-django.png)](https://www.djangoproject.com)
[![web2py](images/logo-web2py.png)](http://www.web2py.com)
[![flask](images/logo-flask.png)](https://flask.palletsprojects.com/)
[![cherry py](images/logo-cherrypy.png)](https://cherrypy.org)
</section>


<section data-markdown>
## Otázky?
</section>


<section data-markdown>
## Ďalšie zdroje

* [Namakaný deň](http://namakanyden.sk)
* [Pygame Zero homepage](https://pygame-zero.readthedocs.io/) ([sk](https://pgzero-slovak.readthedocs.io/sk/latest/index.html))
* [PyWeek 26: Herným vývojárom ľahko a rýchlo](https://www.youtube.com/watch?v=4PFkBpZrJQs)
* [Tvorba počítačových hier v jazyku Python](https://www.youtube.com/watch?v=6SYP-XXZyTI)
</section>


<section data-markdown id="rpi-projects">
## [Raspberry Pi Projects](https://projects.raspberrypi.org/en)
</section>


<section data-markdown id="magpi">
	![Mag Pi](images/logo-magpi.png)
    
	https://www.raspberrypi.org/magpi/
</section>


<section data-markdown id="hackspace">
	![HackSpace](images/logo-hackspace.jpg)

	https://hackspace.raspberrypi.org/
</section>


<section data-markdown id="hello world">
	![Hello World](images/logo-hello.world.jpg)

	https://helloworld.raspberrypi.org/
</section>


<section data-markdown id="wireframe">
    ![Wireframe](images/logo-wireframe.png)

    https://wireframe.raspberrypi.org/
</section>


<section id="newsletter">
    <h2>Namakaný Newsletter</h2>

    <p>
    Ak nechcete, aby vám ušli akcie organizované makačmi okolo <a href="http://namakanyden.sk/">Namakaného dňa</a>, odoberajte newsletter. Vždy vám dáme vedieť, keď budeme niečo namakané organizovať.
    </p>

    <!-- Begin Mailchimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">

    <div id="mc_embed_signup">
        <form action="https://namakanyden.us19.list-manage.com/subscribe/post?u=2be0bc7fd4b16338d9a99b465&amp;id=41a1b70536"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

            <div id="mc_embed_signup_scroll">
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Prihláste sa na odoberanie noviniek emailom" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2be0bc7fd4b16338d9a99b465_41a1b70536" tabindex="-1" value=""></div>
                <div>
                    <input type="submit" value="Prihlásiť" name="subscribe" id="mc-embedded-subscribe" class="button">
                </div>
            </div>
        </form>
    </div>
    <!--End mc_embed_signup-->
</section>


{% include qr.html %}

