---
title: Ako vypestovať Namakaný Vianočný stromček
description: |
    ... v Python-e
duration: 5
date: 2022-09-09
event:
    title: Pycon 2022
    url: https://2022.pycon.sk/
categories: talk
layout: slide
theme: night
authors:
    - name: Miroslav "mirek" Biňas
      email: miroslav.binas@tuke.sk
      url: https://bletvaska.github.io
bitly: https://bit.ly/3x0kHCq
---

{% include first.slide.html %}


<section id="once-upon-a-time" data-markdown>
## Kde bolo, tam bolo ...
</section>


<section id="in-december-2020" data-markdown>
## ... v decembri 2020 ...
</section>


<section id="christmas-tree-with-esp32" data-markdown>
    [![Christmass Lights](images/christmass.lights.jpg)](http://namakanyden.sk/webinars/2020.05-vianocne.svetielka.html)
    ## [Vianočné svetielka](http://namakanyden.sk/webinars/2020.05-vianocne.svetielka.html)
    alebo ako ovládať vianočne svetlá na diaľku cez MQTT s ESP32
</section>


<section id="in-2021" data-markdown>
    ## ... ale v jeseni 2021 ...
</section>


<section id="iot-christmas-tree" data-markdown>
    ## Namakaný viacnočný stromček

    * IoT príklad pre každého
    * osvetlenie riadené cez ESP32 / MicroBit / Arduino
    * všetky stromčeky počúvajú cez MQTT protokol
    * jednou [webovou stránkou ovládate všetky stromčeky](http://www.namakanyden.sk/2021/christmas.tree.html) na Slovensku
    * cena: okolo 30 eur
</section>


<section id="would-you-like-to-join" data-markdown>
### Ak si chceš postaviť svoj Namakaný vianočný stromček v tomto roku, tak ...
</section>

<section id="follow-namakanyden" data-markdown>
[![Follow us on Facebook](images/follow.us.on.facebook.png)](https://www.facebook.com/namakanyden)
[www.facebook.com/namakanyden](https://www.facebook.com/namakanyden)
</section>


<section id="questions" data-markdown>
## Otázky?
</section>


<section id="links" data-markdown>
## Odkazy

* [Namakaný deň](http://namakanyden.sk) - domovská stránka
* [Vianočné svetielka](http://bit.ly/2KtBJUa) - webinár
</section>


{% include qr.html %}

