---
title: Secrets v IoT
subtitle: ako bezpečne ukladať heslá na mikrokontroléroch
description: |
    Prečo aj firmvér potrebuje dobrý dizajn
duration: 30
date: 2026-07-01
layout: slide
event:
    title: OSS Conf Žilina 2026
    url: https://ossconf.fri.uniza.sk/
categories: talk
theme: night
authors:
    - name: Mirek Biňas
      email: miroslav.binas@tuke.sk
      url: https://bletvaska.github.io
bitly: https://bit.ly/4wnlBVO
# video: https://youtu.be/s1RbHF_HCXo
---

<style>
#textovka code {
  background-color: #111111;
}

#micropython-and-thonny > p > a > img {
  height: 180px;
  padding: 25px;
}

#settings-example > pre {
  font-size: 0.45em;
}

#kerckhoffs-principle .layout {
  display: flex;
  align-items: center;
  gap: 2em;
}

#kerckhoffs-principle .layout blockquote {
  flex: 6;
}

#kerckhoffs-principle .layout img {
  flex: 4;
}
</style>


{% include first.slide.html %}


<section id="joke" data-markdown>
> The _S_ in _IoT_ Stands for Security.

notes:
- neda mi nezacat inac, ako standardnym vtipom na tuto temu a sice, ze oblast bezpecnosti v IoT je stale velmi problematicka
</section>


<section id="what-are-the-secrets" data-markdown>
## Čo sú to Secrets?
</section>


<section id="secrets" data-markdown>
## Secrets

* **citlivé údaje**, ktoré **umožňujú prístup** k systémom, službám alebo dátam 
* **musia byť bezpečne uložené a chránené pred neoprávneným prístupom**
* napr.: heslá, API kľúče, tokeny alebo certifikáty
</section>


<section id="owasp-iot-top-10" data-markdown data-background="#fff">
[![](images/owasp.iot.top.ten.png)](https://wiki.owasp.org/index.php/OWASP_Internet_of_Things_Project#tab=IoT_Top_10)

notes:
* jednym z jej projektov je vsak aj OWASP IoT Top 10
* zoznam 10 najvacsich hrozieb v oblasti IoT
</section>


<section id="hardcoded-passwords" data-markdown>
### #1 Weak, guessable or hard coded passwords
</section>


<section id="hardcoded-passwords-description" data-markdown>
> Use of easily bruteforced, publicly available, or unchangeable credentials, including backdoors in firmware or client software that grants unauthorized access to deployed systems.
</section>


<section id="examples-1" data-markdown>
![](images/students-js1.jpg)

notes:
* staticka (hardcoded passwords) konfiguracia pre mqtt pripojenie
* TUYA like - posiela to na cinske servery
</section>


<section id="examples-2" data-markdown>
![](images/students-js2.jpg)

notes:
* to iste, len zapisane inac
* co sa stane, ak dojde k vyzradeniu loginu a hesla a admini prijmu strasne rozhodnutie, ze credentials zmenia?
</section>


<section id="examples-3" data-markdown>
![](images/students-python1.jpg)

notes:
* to iste, ale pre zmenu v pythone
</section>


<section id="examples-4" data-markdown>
![](images/students-python2.jpg)

notes:
* opat defaults pre mqtt a databazu
</section>


<section id="examples-5" data-markdown>
![](images/students-python3.jpg)
</section>


<section id="examples-6" data-markdown>
![](images/students-python4.jpg)
</section>


<section id="other-sources" data-markdown>
## Ďalšie zdroje

* tutoriály - [Random Nerd Tutorials](https://randomnerdtutorials.com/micropython-mqtt-esp32-esp8266/)
* knihy
* čo na to AI?
</section>


<section id="where-are-the-problems" data-markdown>
## Kde do $I&^% je problém?
</section>


<section id="the-problem" data-markdown>
## Credentials sú súčasťou kódu!

* hodnoty sú uložené v (globálnych) premenných
* nedajú sa zmeniť bez zmeny kódu
* sú čitateľné
* nie sú šifrované
</section>


<section id="what-to-do" data-markdown>
## Čo s tým?
</section>


<section id="the-steps" data-markdown>
1. **Izolácia**
  
  Secrets uložíme do samostatného súboru.

2. **Šifrovanie**
  
  Zašifrujeme uložené údaje, aby boli čitateľné iba s kľúčom.

3. **Binárny bytecode**

  Kód pracujúci so secrets preložíme do binárneho bytecode, čím sťažíme jeho analýzu.

notes:
  * Preklad do .mpy (MicroPython bytecode) sťažuje analýzu zdrojového kódu, ale nie je to bezpečnostný mechanizmus porovnateľný so šifrovaním. Skôr ide o obfuskáciu alebo sťaženie reverzného inžinierstva.
</section>


<section id="isolation" data-markdown>
## Krok 1. Izolácia

* secrets uložíme do samostatného súboru
* použijeme formát, ktorý umožňuje jednoduché čítanie aj zápis
  * vystačíme si s formátom JSON
    * priama podpora v jazyku MicroPython
    * umožňuje vnáranie
  * výhodné je použiť dataclass pre validáciu
* `/data/settings.json`
</section>


<section id="settings-example" data-markdown>
```python
import json

SETTINGS_FILE = '/data/settings.py'

# content of settings
settings = {
    "ssid": "OSS Conf 2026",
    "password": "Linux.Rocks!",
}

# write settings
with open(SETTINGS_FILE, 'w') as file:
    json.dump(settings, file)

# read settings
with open(SETTINGS_FILE, 'r') as file:
    settings = json.load(file)
```
</section>


<section id="encoding-vs-hashing-vs-encryption" data-markdown data-background="#FFFEFA">
![Encoding vs Hashing vs Encryption](images/encoding.vs.hashing.vs.encryption.png)

notes:
* https://devcookies.medium.com/encoding-vs-hashing-vs-encryption-explained-with-examples-d92b423a4584
* este predtym ako sa posunieme ku kroku 2 mi neda jedno kratke pedagogicko-terminologicke okienko
  * encoding - kódovanie
  * hashing - hašovanie
  * encryption - šifrovanie
</section>


<section id="encoding" data-markdown>
## Krok 2. Šifrovanie

* problém MCU pri šifrovaní - obmedzené zdroje mikrokontrolérov
  * výpočtový výkon
  * malá pamäť
  * spotreba energie
  * bezpečné ukladanie údajov (TrustZone)
  * odolnosť voči fyzickým útokom
  * generovanie náhodných čísiel
</section>

<section id="atecc-608" data-markdown>
[![ATECC 608](images/atecc.608.jpg)](https://www.adafruit.com/product/4314)

notes:
* mozeme si pomoct napr. tak, ze k nasmu rieseniu pridame externý šifrovací koprocesor (crypto-koprocesor), ako napr ATECC608
  * kľúč tak nikdy neopustí čip
</section>


<section id="cryptolib" data-markdown>
[`cryptolib`](https://docs.micropython.org/en/latest/library/cryptolib.html)
</section>


<section id="aes" data-markdown>
## AES
Advanced Encryption Standard
</section>


<section id="aes-symetric" data-markdown data-background="#F2FFFF">
![](images/aes.webp)

notes:
- https://nordlayer.com/blog/aes-encryption/
</section>


<section id="kerckhoffs-principle">
  <div class="layout">
    <blockquote>
      <p>A cryptosystem should be secure, even if everything about the system, except the key, is public knowledge.</p>
      <footer>— <a href="https://en.wikipedia.org/wiki/Kerckhoffs%27s_principle">Auguste Kerckhoffs</a></footer>
    </blockquote>
    <img src="images/kerckhoffs.jpg" alt="Auguste Kerckhoffs">
  </div>
</section>




<section id="binary-bytecodeencoding" data-markdown>
## Krok 3. Binárny bytecode
</section>


<section id="questions" data-markdown>
## Otázky?
</section>


<section id="links" data-markdown>
## Odkazy

* [KPI@TUKE](https://kpi.fei.tuke.sk) - [YouTube](https://www.youtube.com/@kpi_fei_tuke), [FB](https://www.facebook.com/kpi.fei.tuke)
* [ED Hackathon](https://www.erstedigital.com/sk/hackathon)
* [Deutche Telekom Hackathon](https://hackathon.deutschetelekomitsolutions.sk/)
* [Namakaný deň](http://www.namakanyden.sk) - [YouTube](https://www.youtube.com/@namakanyden), [FB](https://www.facebook.com/namakanyden)
</section>


{% include qr.html %}
