---
title: Smart Department
subtitle: alebo chýbajúca IoT infraštruktúra pre vzdelávanie a DIY
#description: |
#  Čo to je Ingress a ako funguje.

duration: 30
date: 2024-07-02
bitly: https://bit.ly/3L7OAav
event:
    title: OSSConf 2024
    url: https://ossconf.soit.sk/
categories: talk
layout: slide
theme: night
authors:
    - name: Miroslav "mirek" Biňas
      email: miroslav.binas@tuke.sk
      url: https://bletvaska.github.io

---

<style>

/* #etl-in-bash code,
#etl-in-python code,
#cli-tool code,
#apache-airflow-installation code
{
    font-size: 0.7em;
    line-height: 1.5em;
} */

section#intro,
section#k8s-rambo
{
  margin-top: 15%;
  background-color: #2b3f679c;
}
</style>

{% include first.slide.html %}


<section id="me-and-iot" data-markdown>
## Ja, moje druhé ja a IoT

* IoT sa venujem od 2018
* vyučujem [Základy Internetu vecí](https://kurzy.kpi.fei.tuke.sk/iot1/2023/) na [kpi.fei.tuke.sk](https://kpi.fei.tuke.sk/) od 2019
* ...a našiel som sa v tom
</section>


<section id="patlala-1" data-background="images/patlala.1.jpg">
</section>


<section id="patlala-2" data-background="images/patlala.2.jpg">
</section>


<section id="patlama-paprtala" data-background="black">
<iframe width="896" height="504" src="https://www.youtube.com/embed/LJn_9NfgDXM?si=TzzOxX6aerz0ImCo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen data-autoplay></iframe>
</section>


<section id="added-value" data-markdown>
## Pridaná hodnota?!
</section>


<section id="iot-hub" data-markdown data-background="black">
[![](images/iot.hub.png)](https://www.youtube.com/watch?v=Jjx8Nrz_SmY)
</section>


<section id="iot-architecture" data-markdown data-background="white">
[![](images/four.layers.iot.architecture.jpg)](https://sumatosoft.com/blog/what-is-iot-architecture-4-stages-of-iot-architecture)

notes:
* https://sumatosoft.com/blog/what-is-iot-architecture-4-stages-of-iot-architecture
</section>


<section id="architecture" data-markdown data-background="white">
![](images/smart.department-architecture.png)

notes:
* trojvrstvova architektura
* pridanim edge vrstvy vie byt stvorvrstvova
* horizontalne aj vertikalne skalovatelne riesenie
* postavane na otvorenych rieseniach
</section>


<section id="the-things" data-markdown data-background="white">
## The Things

![Raspberry Pi Pico WH](images/rpi.pico.wh.jpg)
</section>


<section id="iot-gw" data-markdown data-background="white">
## IoT Gateway

![Raspberry Pi 3](images/raspberry.pi.3.jpg)
</section>

<section id="iot-gw-components" data-background="images/gateway.png"></section>


<section id="balena-cloud" data-markdown data-background="#23445E">
[![](images/balena.png)](https://www.balena.io/)
</section>


<section id="the-cloud" data-markdown data-background="white">
## The Cloud / Mother

[![grafana](images/grafana.png)](https://grafana.com/)
[![influxdb](images/influxdb.png)](https://grafana.com/)
[![mosquitto](images/mosquitto.png)](https://mosquitto.org/)
</section>


<section id="results" data-markdown>
## Ako to dopadlo?
</section>


<section id="students-at-work" data-background="images/students.at.work.png"></section>




<section id="next" data-markdown>
## Ďalšie plány

* architektúre podriadiť celú výučbu
  * prežitie na baterky cez vianočné sviatky ;)
* služba chaos
  * plánované vypínanie sieťového pripojenia
* upozornenia ([apprise](https://pypi.org/project/apprise/))
* agregácia logov
* kontakt s balenou
* spolupráca s Islandom (možno Rumunskom)
</section>



<section id="questions" data-markdown>
## Otázky?
</section>


<section id="links" data-markdown>
### Odkazy

* [Základy Internetu vecí](https://kurzy.kpi.fei.tuke.sk/iot1) - kurz na KPI
* [Balena.io](https://www.balena.io/)
* Marek Láni: [IoT Edge](https://www.youtube.com/watch?v=Jjx8Nrz_SmY) - IoT v MicroSoft-e

</section>


{% include qr.html %}
