---
title: Smart Department
#subtitle: ako som napísal bakalársku prácu po 10 rokoch
#description: |
#  Čo to je Ingress a ako funguje.

duration: 30
date: 2024-07-02
bitly: https://bit.ly/3L7OAav
event:
    title: OSSConf 2024
    url: https://ossconf.soit.sk/
categories: talk
layout: slide
theme: night
authors:
    - name: Miroslav "mirek" Biňas
      email: miroslav.binas@tuke.sk
      url: https://bletvaska.github.io

---

<style>

/* #etl-in-bash code,
#etl-in-python code,
#cli-tool code,
#apache-airflow-installation code
{
    font-size: 0.7em;
    line-height: 1.5em;
} */

section#intro,
section#k8s-rambo
{
  margin-top: 15%;
  background-color: #2b3f679c;
}
</style>

{% include first.slide.html %}


<section id="me-and-iot" data-markdown>
## Ja, moje druhé ja a IoT

* IoT sa venujem od 2018, výučbe na KPI od 2019
</section>


<section id="patlama-paprtala" data-markdown>
## Patlama Paprtala
</section>


<section id="architecture" data-markdown data-background="white">
![](images/smart.department-architecture.png)

notes:
* trojvrstvova architektura
* pridanim edge vrstvy vie byt stvorvrstvova
* horizontalne aj vertikalne skalovatelne riesenie
* postavane na otvorenych rieseniach
</section>


<section id="the-things" data-markdown>
## The Things
</section>


<section id="iot-gw" data-markdown>
## IoT Gateway
</section>


<section id="the-cloud" data-markdown>
## The Cloud
</section>




<section id="balena-cloud" data-markdown data-background="#23445E">
[![](images/balena.png)](https://www.balena.io/)
</section>


<section id="next" data-markdown>
## Ďalšie plány

* architektúre podriadiť celú výučbu
* kontakt s balenou
* spolupráca s Islandom (možno Rumunskom)
</section>



<section id="questions" data-markdown>
## Otázky?
</section>


<section id="links" data-markdown>
### Odkazy

* [Základy Internetu vecí](https://kurzy.kpi.fei.tuke.sk/iot1) - kurz na KPI
* [Balena.io](https://www.balena.io/)

</section>


{% include qr.html %}
