---
title: Príbehy z Yolkfolk-u
subtitle: Výučba programovania na stredných školách tvorbou hier pomocou PygameZero
description: |
    O jednom projekte, pomocou ktorého viete výučbu programovania opäť posunúť ďalej. Okrem toho posilníte motivačný faktor, ktorým je tvorba hier a pomôžete detiskám rozprávať skrze hru vlastné príbehy. Vitajte v Yolkfolku ;)
duration: 30
date: 2022-06-29
layout: slide
event:
    title: IOSCS
#    url: https://mpc-edu.sk/sk
categories: talk
theme: night
authors:
    - name: Miroslav "mirek" Biňas
      email: mirek@cnl.sk
      url: https://bletvaska.github.io
#    - name: Mirka Filčáková
#    - name: Gabriel Adamčák
bitly: https://bit.ly/3R6Tu9A
#video: https://youtu.be/coqzmKypHyE
---

<style>
#handlebars-template > pre{
    font-size: 0.4em;
}
</style>

{% include first.slide.html %}


<section id="about-mirek" data-markdown>
[![mirek](images/mirek.na.hackathone.jpg)](https://bletvaska.github.io)

notes:
* posobim na TUKE
* venujem sa 
    * vyucbe programovania (jazyk C)
    * IoT
* stojim za podujatim Namakany den a vdaka covid-u aj za Namakanymi webinarmi
    * urcene najma pre stredne skoly a velmi pre ucitelov strednych skol
* venujem sa vyucbe programovania obecne
    * ako to robit dobre
    * uz 10 rokov
</section>


<section id="prihlasia-sa-vsetci-ti" data-markdown>
## Prihlásia sa všetci tí...

notes:
* ktori rano vstali pred 0700
* ktori si neumyli rano zuby
* ktori su ucitelia
* ktori su ucitelia na strednych skolach
* ktori su ucitelia INFORMATIKY na strednych skolach
* ktori su ucitelia PROGRAMOVANIA na strednych skolach
</section>


<section id="students-expectations" data-markdown>
## Čo očakávajú študenti od programovania?

* **viac programovať** (táto odpoveď zaznela až v 14/15 prípadov)
* programovať **hry**
* **OOP**
* práca s hardware-om

notes:
* nie relevantna vzorka (15 studentov)
* cerstve (2022)
* vsimli ste si, co ti studenti chcu? chcu ROBIT!
    * chcu robit hry
</section>


<section id="objects-first-approach" data-markdown>
## Objects-First Approach

(je treba začať s objektami)
</section>


<section id="bluej" data-markdown>
[![BlueJ](images/bluej.png)](https://www.bluej.org/)

[www.bluej.org](https://www.bluej.org/)

notes:
* prvy predstavitel tohto pristupu
</section>


<section id="greenfoot" data-markdown>
[![Greenfoot](images/greenfoot.jpg)](https://www.greenfoot.org/)

[www.greenfoot.org](https://www.greenfoot.org/)

notes:
* postaveny na BlueJ
* zamerany vyslovene na hry
* hry - motivacny aspekt
</section>


<section id="textgame" data-markdown>
![Indiana Jones Project](images/indyjones3.png)

Indiana Jones Project

notes:
* poznate to? hrali ste to?
* clanok: ucitel literatury pouzil IF vo vyucbe
* fantasticky 101 projekt
    * C/C++, JS, Java, C#, Python
    * rozsiahly, daju sa ukazat rozlicne veci
</section>


<section id="alienbreed" data-markdown>
[![Gamelib (Alienbreed)](images/alienbreed.png)](http://kpi.pages.kpi.fei.tuke.sk/objektove-programovanie/gamelib/)

[Gamelib](http://kpi.pages.kpi.fei.tuke.sk/objektove-programovanie/gamelib/)@TUKE
</section>


<section id="what-about-python" data-markdown>
## A čo Python?

notes:
* hovorime o vyucbe na strednych skolach, kde ten Python ma svoje miesto
</section>


<section id="pygame-zero" data-background="white">
<a href="https://pygame-zero.readthedocs.io/">
    <img src="images/logo-pygamezero.svg" width="600">
</a>
<br>
<a href="https://pygame-zero.readthedocs.io/en/stable/">Pygame Zero</a>
</section>


<section id="pygame-zero-magpi" data-markdown data-background="images/magpi-35-pygamezero.jpg">
Note:
* https://www.raspberrypi.org/magpi/wp-content/uploads/2015/06/35_PygameZero.jpg
</section>


<section id="realpython-top-game-libs" data-markdown data-background="#B9ABE6">
[![Top Python Game Engines](images/realpython-top.python.game.engines.jpg)](https://realpython.com/top-python-game-engines/)
</section>


<section id="requirements" data-markdown>
## Čo to vlastne chceme?

* jednoduchosť sa počíta
* umožniť programovať čo najskôr (R. Pecinovský)
* podporiť krativitu
    * rozprávať vlastné príbehy
    * tvoriť vlastný svet
</section>


<section id="sexi" data-markdown>
## Musí to byť SEXI!!!
</section>


<section id="mirka-and-gabo" data-markdown>
![Mirka Filčáková](images/mirka.filcakova.jpg)
![Gabo Adamčák](images/gabo.adamcak.jpg)

notes:
* zohnal som diplomantov a predstavil som im myslienku
* mirka s gabom
    * mirka tu mala dnes hovorit miesto mna
* otazkou uz len bolo, ze ako to bude vyzerat
* mirka: ja som prestala vidiet v tej praci zmysel, kym som nevidela tie detiska.
</section>


<section id="dizzy-3.5">
<iframe 
    width="640" height="480" frameborder="0" 
    src="https://www.youtube.com/embed/97jAQmD3zKE?rel=0" 
    title="YouTube video player" 
    data-autoplay data-preload allowfullscreen>
</iframe>
</section>


<section id="code-battle" data-markdown>
[![Code Battle](images/c0d3.b4ttl3.jpg)](http://namakanyden.sk/2021/c0d3.b4ttl3.html)

notes:
* moderovane podujatie
* ciel - vybrat ramec na vytvorenie kniznice pre stredne skoly
* metoda - urobit jednu hru v troch rozlicnych ramcoch
    * traja prednasajuci
* zhruba 20 ucitelov
    * pytali sme sa, co bolo pre nich najzrozumitelnejsie
* vyhral Pygame Zero
</section>


<section id="tiled" data-markdown>
[![Tiled](images/tiled.png)](https://www.mapeditor.org/)

[www.mapeditor.org](https://www.mapeditor.org/)

notes:
* kreativita vo vytvarani sveta
* editor zdarma, podpora v Python-e
</section>


<section id="testovanie" data-markdown>
## Testovanie

![U Danky](images/u.danky.jpg)

notes:
* 
</section>


<section id="namakany-webinar" data-markdown>
[![Namakaný webinár](images/webinar-2022.07.jpg)](http://namakanyden.sk/webinars/2022.07-yolkfolk.html)
</section>


<section id="live-example" data-markdown>
## Živá ukážka
</section>


<section id="wisdom" data-markdown>
> Tie najkrajšie kódy, ktoré detiská v živote uvidia, sú tie školské.
> 
> -- (Michael Kennedy ?)

notes:
* povodne som zamyslal, ze budem cely cas ukazovat nazivo, ako sa to pouziva
* ale este to nie je pekne a chvilku potrva, kym to bude krasne ;)
* ale hrat sa s tym da uz teraz!
</section>


<section id="questions" data-markdown>
## Otázky?
</section>


<section id="what-next" data-markdown>
## Kam ďalej?

* [Labáky pre Yolkfolk](https://mirka-filcakova.gitbook.io/dizzy/)
* [Namakaný webinár](http://namakanyden.sk/webinars/2022.07-yolkfolk.html)
* Gabriel Adamčák: [Výučba programovania na SŠ tvorbou hier v jazyku Python I.](https://opac.crzp.sk/?fn=detailBiblioForm&sid=D6903242A3B61C7D27C1EFD68D19&seo=CRZP-detail-kniha)
* Mirka Filčáková: [Výučba programovania na SŠ tvorbou hier v jazyku Python II.](https://opac.crzp.sk/?fn=detailBiblioForm&sid=FE42652C724A629CC5644024874B&seo=CRZP-detail-kniha)
</section>


<section id="resources" data-markdown>
## Ďalšie zdroje

* [Pygame Zero](https://pygame-zero.readthedocs.io/en/stable/) ([sk](https://pygame-zero.readthedocs.io/sk/latest/))
</section>


<section id="namakany-den" data-markdown>
[![Follow Us on Facebook](images/follow.us.on.facebook.png)](https://www.facebook.com/namakanyden)
[www.facebook.com/namakanyden](https://www.facebook.com/namakanyden)
</section>


{% include qr.html %}

