body > h2:nth-child(5) {
    color: red;
}

body > h3:nth-child(6) {
    color:blue;
}

/* * {
    border: 1px solid black;
} */



/*
css sel:  body > h2:nth-child(5)
css path: html body h2
xpath:    //h2
*/