---
title: BC štúdium na KPI TUKE
description: |
    Ako vyzerá štúdium na KPI?
duration: 90
date: 2023-02-16
layout: slide
event:
    title: Burza príležitostí na SPŠE Prešov
    url: https://spse-po.sk/
categories: talk
theme: night
authors:
    - name: mirek
      email: mirek@cnl.sk
      url: https://bletvaska.github.io
# bitly: http://bit.ly/3dIRnrh
# video: https://youtu.be/s1RbHF_HCXo
---

<style>
#micropython-and-thonny > p > a > img {
  height: 180px;
  padding: 25px;
}

#to-adafruit-with-http > pre {
  font-size: 0.4em;
}
</style>

<section id="mirek" data-markdown>
  ![thats me](images/mirek.jpg)
  </section>


  <section id="hrate-sa" data-markdown>
  ## Hráte sa počítačové hry?
  </section>


  <section id="far.cry.3" data-markdown>
  ![Far Cry 3](images/farcry.3.jpg)
  </section>


  <section id="alan-wake" data-markdown data-background="#000">
  ![Alan Wake](images/alan.wake.jpg)
  </section>


  <section id="naprogramovali-ste-hru" data-markdown>
  ## Naprogramovali ste si vlastnú počítačovú hru?
  </section>

{% include first.slide.html %}


<section id="first-year" data-markdown>
## 1. ročník

* štúdium pre celú fakultu
* [Základy algoritmizácie a programovania](https://kurzy.kpi.fei.tuke.sk/zap/) (1. semester)
* [Programovanie](https://kurzy.kpi.fei.tuke.sk/pvjc/2023/) (2. semester)
</section>


<section id="hands-off-program" data-markdown>
## Hands Off!

* program pre tých, ktorí sa **CHCÚ(!)** dozvedieť viac
* z 200+ až na 10- ;)

notes:
* mame vela studentov, medzi ktorymi su aj dobri studenti
* chceme podporit a pracovat so studentmi, ktori chcu pracovat
* vymysleli sme program, do ktoreho sa moze zapojit kazdy, ale:
  * treba ukazat, ze co spravili
  *
</section>


<section id="hands-off-promo" data-background="#fff">
  <iframe width="560" height="315"
    src="https://www.youtube.com/embed/zNLJ-6_SdPA"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen data-autoplay></iframe>
</section>


<section id="questions" data-markdown>
## Otázky?
</section>


<section id="links" data-markdown>
## Odkazy


</section>


<section id="where-to-buy" data-markdown>
## Kde kúpiť?

* [RPishop.cz](https://rpishop.cz/pico/3352-675-raspberry-pi-pico-0617588405587.html#/188-prislusenstvi-bez_prislusenstvi) - 4.18 Eur
* [RLX.sk](https://rlx.sk/sk/raspberry-pi-pico/8016-raspberry-pi-pico-low-cost-high-performance-microcontroller-board.html) - 4.50 Eur
* [Alza.sk](https://www.alza.sk/raspberry-pi-pico-d6313108.htm?o=1) - 6.79 Eur
</section>


{% include qr.html %}
