#linear-search .button, #binary-search .button {
    float:left;
    width: 125px;
    height: 200px;
    moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    /*border: 5px solid #ffffff;*/
    /*padding: 2px;*/
    font-size: 90px;

    border: 4px solid #ffffff;
    margin: 2px;
    line-height: 200px;
}

.reveal section img {
    border-width: 0px;
    background: none;
    box-shadow: none;
}
