h1 {
    font-size: 26pt;
    color: magenta;
    background-color: green;
}

img {
    border: 20px solid black;
}

a:hover{
    color: green;
}

p:nth-of-type(3){
    font-weight: bold;
}

.red{
    color: red;
}

