---
title: Učenie je hrou so stavebnicou Piper
description: |
    Stavebnica Piper je kombináciou viacerých vecí: hry Minecraft, stavebnice, z ktorej si postavíte celý počítač, softvéru, ktorý je nadstavbou nad hrou Minecraft, elektroniky, s ktorou budete pomáhať svojmu robotovi riešiť zapeklité situácie a fantastického storytelling-u, ktorý vás (alebo možno vašich juniorov) vcucne do príbehu, v ktorom je len na vás, či zachránite svet pred rútiacim sa cheesteroid-om (nie - nie je to preklep - je to obrovský syrový asteroid rútiaci sa na planétu Zem).
duration: 90
date: 2021-03-31
layout: slide
event:
    title: Namakaný webinár
    url: http://www.namakanyden.sk/
categories: talk
theme: night
authors:
    - name: mirek
      email: mirek@cnl.sk
      url: https://bletvaska.github.io
bitly: 
video: https://youtu.be/wUGFGaDkfuA
---
<section>
    Začíname už za
    <div id="countdown" style="font-size: 3em"></div>
</section>

{% include countdown.html id="countdown" text=" " deadline="2021-03-31 15:05:00" %}

{% include first.slide.html %}


<section id="piper" data-markdown data-background="white">
[![Piper Logo](images/logo-piper.png)](https://www.playpiper.com)
</section>


<section id="kickstarter" data-markdown data-background="white">
[![Kickstarter Logo](images/logo-kickstarter.png)](https://www.kickstarter.com/projects/2104553715/piper-a-minecraft-toolbox-for-budding-engineers)
</section>


<section id="piper-on-kickstarter" data-background="white">
    <h2>Kickstarter (2015)</h2>

    <iframe width="640" height="390" src="https://www.youtube.com/embed/3PmgetH65rs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>


<section id="piper-computer-kit-unboxing" data-background="white">
    <h2>Rozbalenie stavebnice</h2>

    <iframe width="640" height="390" src="https://www.youtube.com/embed/FAfSgLK9fmE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>


<section id="piper-computer-kit-inventory" data-background="white" data-markdown>
![Piper Inventory](images/piper.computer.kit.inventory.png)
</section>


<section id="piper-blueprint" data-background="images/piper.blueprint.jpg">
</section>


<section id="piper-computer-kit" data-markdown data-background="white">
![Piper Computer Kit](images/piper.computer.kit.jpg)
</section>


<section id="prichadza-priznanie" data-markdown>
## Musíme sa vám s niečím priznať...
</section>


<section id="priznanie" data-markdown>
## Piper Computer Kit
# Nemáme
</section>


<section data-markdown id="update">
## Vygúglil som obraz pre RPi ;)
</section>


<section data-markdown id="main-screen" data-background="white">
![Piper Main Screen](images/piper.main.screen.png)
</section>


<section data-markdown id="piperbot-and-pip" data-background="white">
![Piperbot and Pip](images/piperbot.and.pip.png)
</section>


<section id="piper-controller" data-markdown data-background="white">
![Piper Controller](images/piper.controller.png)
</section>


<section id="lokalization" data-markdown>
## Lokalizácia
</section>


<section id="pipercode" data-markdown>
[![Pipercode](images/pipercode.png)](https://youtu.be/vY3LmJT9768)
</section>


<section id="novinky" data-markdown>
## Novinky
</section>


<section id="piper-make" data-markdown data-background="white">
[![Piper Make](images/piper.make.pico.png)](https://make.playpiper.com)
</section>


<section id="questions" data-markdown>
## Otázky?
</section>


{% include qr.html %}
