/* Set the animation, color, size and hide the text */
.intro {
    position: absolute;
    top: 30%;
//    left: 35%;
    z-index: 1;
    animation: intro 6s ease-out 1s;
    color: rgb(75, 213, 238);
    font-weight: 400;
    font-size: 300%;
    opacity: 0;
}
