---
title: Čo s aplikáciou po nasadení?
description: |
    Naprogramovali ste aplikáciu, ktorá bude odpoveďou na otázky života, vesmíru a vôbec? Super – gratulujem! Ale čo ďalej? Ako ju správne nasadiť? Ako ju monitorovať? A čo? Ako zabezpečiť jej prevádzku 24/7? Čo ak sa „zrúbe“, keď budem spať? Čo ak prestane stíhať cez Vianoce? Čo ak…

    Počas tohto príspevku si prakticky ukážeme, čo ďalej s vytvorenou aplikáciou a prečo sa oplatí rozmýšľať o jej nasadení v kontajneroch.
duration: 90
date: 2022-11-16
event:
    title: UVP Technicom
    url: https://uvptechnicom.sk/event/co-s-aplikaciou-po-nasadeni/
categories: talk
layout: slide
theme: night
authors:
    - name: Miroslav Biňas
      email: miroslav.binas@tuke.sk
      url: https://bletvaska.github.io

bitly: https://bit.ly/3tAcH9a
---

{% include first.slide.html %}


{% include about.mirek.html %}


<section id="hard-work" data-markdown>
![Hard Work](images/hard.work.gif)

notes:
* mozno takto nejako vyzeral pracovny zapal aj vo vasom time este pomerne nedavno (dnes rano?)
* po tyzdnoch tvrdej (timovej) prace ste to nakoniec dali
</section>


<section id="live-demo" data-markdown>
## Live demo!

notes:
* tadaaaa
</section>

<section id="congratulations" data-markdown>
## Gratulujem!

notes:
* ale nakoniec ste to dali, takze gratulujem
</section>


<section id="what-next" data-markdown>
## Čo ďalej?

aplikácia beží, ale **len** na vašom počítači
</section>


<section id="problems" data-markdown>
## ...a ešte k tomu

* kde a ako hostovať?
* kde a ako ukladať údaje?
* ako to budem aktualizovať? (nbusr style?)
* koľko ma to bude stáť? (denne/ročne)
</section>


<section id="docker" data-markdown data-background="white">
[![Docker](images/logo-docker.png)](https://www.docker.com/)

notes:
* trendom je dnes robit aplikacie v kontajneroch
* rovno od zaciatku uvazujte presne takto
</section>


<section id="docker-stackoverflow-survey" data-markdown data-background="#003F8C">
![The most-loved Tool in Stack Overflow’s 2022 Developer Survey.](images/docker.stackoverflow.survey.png)

notes:
* docker je dnes jednym z najpopularnejsich nastrojov developerov. o tom hovori aj posledny prieskum StackOverflow survery 2022
</section>


<section id="what-is-container" data-markdown>
## Čo je to kontajner?

> Kontajner je **izolované prostredie** na **spustenie procesu**.

notes:
* laicky - zip balik s aplikaciou a potrebnymi kniznicami pre spustenie aplikacie
* proces sa spusta pod linuxovym jadrom
</section>


<section id="benefits-of-containers" data-markdown>
## Prečo kontajnery?

* jednotné prostredie pre rozličné prostredia
* rovnaké prostredie pre vývoj aj nasadenie
* podpora naprieč IDE
* škálovanie...
</section>


<section id="getting-on-bus" data-markdown>
![Getting on Bus](images/getting.on.bus.png)
</section>


<section id="scaling-busses" data-markdown data-background="#273137">
![Scaling the Busses](images/horizontal.and.vertical.scaling.of.busses.png)
</section>


<section id="scaling" data-markdown data-background="white">
<!-- ![](https://iximiuz.com/multiple-containers-same-port-reverse-proxy/multiple-containers-same-port-2000-opt.png) -->
![](https://docs.docker.com/engine/swarm/images/services-diagram.png)
</section>


<section id="where-are-my-clients-comming-from" data-markdown>
### Problém: Odkiaľ sú moji zákazníci?
(a kedy ku mne chodia?)
</section>


<section id="logging" data-markdown>
## Logovanie

> Logging - one of the secrets to building extremely stable, robust web applications.
</section>


<section id="about-logging" data-markdown>
## Kde logovať?

* do lokálneho súboru
    * náročná analýza - viacero súborov, rozličné formáty
* do vzdialenej db
    * aplikácia musí obsahovať konfiguráciu pre pripojenie
    * špeciálne systémy ako [Logstash](https://www.elastic.co/logstash/), [Loki](https://grafana.com/oss/loki/), štandardné SQL databázy
</section>


<section id="logging-in-containers" data-markdown>
### Aplikácia spustená v kontajneri loguje do štandardného výstupu!
</section>


<section id="logging-in-python" data-markdown>
### Logovanie v jazyku Python

```python
import logging

# basic config
logging.basicConfig(
    level=logging.INFO,
    format='%(asctime)s %(name)-12s %(levelname)-8s: %(message)s'
)

# creating logger
logger = logging.getLogger('supa')

# logging
logger.info('Starting Application')
```
</section>


<section id="log-aggregation" data-markdown>
## Agregácia logov

App > [Docker](https://www.docker.com/) > [Fluentd](https://www.fluentd.org/) (plugin) > [[Logstash](https://www.elastic.co/logstash/) | [Loki](https://grafana.com/oss/loki/)]
</section>


<section id="bsod" data-markdown data-background="#0000AA">
![BSOD](images/bsod.png)
</section>


<section id="deadlock" data-markdown>
## Deadlock

```python
while True:
    pass
```
</section>


<section id="healthcheck" data-markdown>
## Healthcheck
</section>


<section id="healthcheck-endpoint" data-markdown>
## Jednoduchá kontrola

```python
@app.get('/api/healthz')
def check_health():
    return {
        'status': 'up'
    }
```
</section>


<section id="healthcheck-in-dockerfile" data-markdown>
## Healthcheck a Docker

```dockerfile
HEALTHCHECK \
  --interval=5m \
  --timeout=3s \
  --retries=3 \
  --start-period=5s \
  CMD curl -f http://localhost/ || exit 1
```
</section>


<section id="metrics" data-markdown>
## Metriky

> Metriky poskytujú **pohľad** na **aktuálny stav** vašej aplikácie. Prípadne vieme pomocou metrík zistiť **stav v čase**.
</section>


<section id="the-four-golden-signals" data-markdown data-background="white">
![](images/four.golden.signals.png)
</section>


<section id="latency" data-markdown>
> **Latency** is the **time** it takes to service a request.
</section>


<section id="middleware" data-markdown>
### Meranie latencie s middleware

```python
import time
from fastapi import FastAPI, Request

@app.middleware("http")
async def add_process_time_header(request: Request, call_next):
    start_time = time.time()
    response = await call_next(request)
    process_time = time.time() - start_time
    response.headers["X-Process-Time"] = str(process_time)
    return response
```
</section>


<section id="traffic" data-markdown>
> **Traffic** is a measure of **how much** demand is being placed on your system, measured in a high-level system-specific metric.
</section>


<section id="prometheus" data-markdown data-background="#F2F2F2">
![](https://static.wixstatic.com/media/cf93e2_c52dcfd44ea84f01b64cef91b4e54b98~mv2.png/v1/fill/w_640,h_480,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/cf93e2_c52dcfd44ea84f01b64cef91b4e54b98~mv2.png)
</section>


<section id="errors" data-markdown>
> **Errors** is the **rate of requests that fail**, either explicitly (e.g., HTTP 500s), implicitly (for example, an HTTP 200 success response, but coupled with the wrong content), or by policy (for example, "If you committed to one-second response times, any request over one second is an error").
</section>


<section id="saturation" data-markdown>
> **Saturation** describes, **how "full" your service is**.
</section>


<section id="grafana" data-markdown data-background="white">
![](https://www.vectorlogo.zone/logos/grafana/grafana-ar21.png)
</section>


<section id="questions" data-markdown>
## Questions?
</section>


<section id="links" data-markdown>
## Links

* [The four Golden Signals of Kubernetes monitoring](https://sysdig.com/blog/golden-signals-kubernetes/)
* [Microservice Architecture](https://microservices.io/index.html)
</section>


{% include qr.html %}
