---
title: BEST in IoT
description: |
    Legendy hovoria, že Internet vecí sa na stredných školách týka len programovania Arduín a BBC micro:bit-ov. Tam to však len začína a my na tomto webinári budeme rozhodne pokračovať. Síce bez mikrokontrolérov, ale to nás nezastaví v tom, aby sme urobili jednoduchú meteo službu. Dáta ukradneme (tí kreatívnejší alebo lenivejší si ich vymyslia), zobrazíme ich na mape Slovenska a hneď uvidíme, aké meteorologické podmienky majú jednotliví účastníci webinára doma. A to všetko len s prehliadačom, nadšením, chuťou experimentovať, vymýšľať... Proste si ukážeme silu integrácie existujúcich nástrojov a služieb bez toho, aby sme napísali čo i len riadok kódu. No skús neprísť ;-)
duration: 120
date: 2026-07-06
layout: slide
event:
    title: BEST Summer
    url: https://mpc-edu.sk/sk
categories: talk
theme: night
authors:
    - name: Miroslav "mirek" Biňas
      email: mirek@cnl.sk
      url: https://bletvaska.github.io
# bitly: https://bit.ly/3uBhK7w
openweathermap_apikey: b85449dbf5d71ab387d93367c7f1b790
# video: https://youtu.be/coqzmKypHyE
todo:
- pekny obrazok s rozlicnymi typmi ble topologii: https://www.linkedin.com/posts/mafaneh_ble-networktopologies-iot-activity-7258515079237685248-4756/
---

<style>
#message-example pre {
    font-size: 0.45em;
}
</style>

{% include first.slide.html %}


<section id="about-mirek" data-markdown>
[![mirek](images/mirek.na.hackathone.jpg)](https://bletvaska.github.io)
</section>


<section id="what-is-iot" data-markdown>
## What is IoT?
</section>

<section data-markdown id="what-is-iot-by-iotbuzzer">
> Internet of Things (IoT) means any smart device with ability to communicate via Internet.
> -- _by [iotbuzzer.com](https://iotbuzzer.com/what-is-iot-top-10-definitions-overview/)_
</section>


<section data-markdown id="iot-is-about-data">
## IoT is built on data
</section>


<section data-markdown id="producers-and-consumers">
* **data producers** (sensors)
* **data consumers** (actuators)
</section>


<section data-markdown id="smart-waste-example" data-background="#fff">
![Smart Waste Service](images/smart.waste.service.jpg)
</section>


<section id="iot-is-also-about" data-markdown>
## IoT is also about...

* hardware
* low power
* communication
* data (data science, (time series) db)
* updates (ota)
* security
</section>


<section id="additional-value" data-markdown>
## IoT is abou Additional Value
</section>


<section id="node-red" data-markdown data-background="#8F0000">
[![Node-RED Logo](images/logo-node.red.png)](https://nodered.org)
</section>


<section id="what-is-node-red-i" data-markdown data-background="#8F0000">
## What is Node-RED I.?

> [Node-RED](https://nodered.org) is a **visual tool** for **wiring** the Internet of Things. (2016)

> **Flow-based programming** for the Internet of Things. (2017)

> **Low-code programming** for **event-driven applications**. (2019)
</section>


<section id="what-is-node-red-ii" data-markdown data-background="#8F0000">
## What is Node-RED II.?

> [Node-RED](https://nodered.org) is a **programming tool** for **wiring** together hardware devices, APIs and online services in new and interesting ways. (2022)

> The easiest way to **collect**, **transform** and **visualize** real-time data. ([homepage](https://nodered.org))
</section>


<section id="nodered-features" data-markdown data-background="#8F0000">
## And besides that...

* open source (for free)
* platform independent ([nodejs](https://nodejs.org/))
    * runs in browser
</section>


<section id="iot-development" data-markdown>
### "Traditional" Requirements for IoT Solution Development

* Low-level programming skills
* Hardware design expertise
* Understanding of electronics
* Knowledge of complex APIs for external service integration
* Experience with Time Series Databases (TSDBs)
* Knowledge of Data Analytics (DA) and Machine Learning (ML) for extracting insights from stored data
</section>

<section id="nodered-help" data-markdown data-background="#8F0000">
[Node-RED](https://nodered.org) handles the technical aspects of your solution, allowing you to focus on your workflow.
</section>


<section id="nodered-with-docker" data-markdown data-background="#8F0000">
## Running Node-RED

1. start [Node-RED Docker Container](https://hub.docker.com/r/nodered/node-red)

    ```bash
    $ docker container run --rm -it \
        --publish 1880:1880 \
        --volume node_red_data:/data \
        --name nodered \
        nodered/node-red:latest-minimal
    ```

2. open browser at [`http://localhost:1880`](http://localhost:1880)
</section>


<section id="hello-world" data-markdown data-background="#8F0000">
## Hello world!
</section>


<section id="what-is-flow-based-programming" data-markdown data-background="#8F0000">
## What is FBP?

> **Flow-Based Programming** is a programming paradigm that defines applications as **networks** of "black box" processes, which exchange data across predefined **connections** by **message passing**, where the connections are specified **externally** to the processes. ([Wikipedia](https://en.wikipedia.org/wiki/Flow-based_programming))
</section>


<section id="message" data-markdown data-background="#8F0000">
## The Message

```json
{
    "_msgid": "89cbb063.7f7a7",
    "payload": "Hello world!",
    "topic": "Greetings!"
}
```
</section>


<section id="meteo-service" data-markdown data-background="#8F0000">
## Meteo Servis

([inspiration](https://meteo.skola.sk/meteostanica/?id=22))
</section>


<section id="worldmap-node" data-markdown data-background="#8F0000">
[![node-red-contrib-web-worldmap](images/worldmap.node.gif)](https://flows.nodered.org/node/node-red-contrib-web-worldmap)
[node-red-contrib-web-worldmap](https://flows.nodered.org/node/node-red-contrib-web-worldmap)
</section>


<section id="openweathermap-node" data-markdown data-background="#8F0000">
[![OpenWeatherMap.org](images/logo-openweathermap.png)](https://openweathermap.org)

* node: [node-red-node-openweathermap](https://flows.nodered.org/node/node-red-node-openweathermap)
* API key: `{{ page.openweathermap_apikey }}`
* [current weather data in a machine-readable format](http://api.openweathermap.org/data/2.5/weather?units=metric&q=dolny%20kubin,sk&appid={{ page.openweathermap_apikey }})
    * HTTP protocol (REST API)
    * JSON format
</section>


<section id="json" data-markdown>
## JSON
(JavaScript Obect Notation)
</section>


<section id="mqtt" data-markdown data-background="#8F0000">
## MQTT
</section>


<section id="mqtt-explained" data-markdown data-background="white">
![How MQTT Works](images/how.mqtt.works.png)

Notes:
* https://www.eclipse.org/community/eclipse_newsletter/2014/october/article2.php
</section>


<section id="what-can-nodered-do" data-markdown data-background="#8F0000">
### What else can Node-RED do?

* Build custom web applications
* Create custom REST APIs
* Develop custom dashboards
* Integrate with database systems
* Connect to external services (e.g., Twitter and many others)
* Develop custom nodes (natively in JavaScript or in Python)
* and much more
</section>


<section id="how-iotgw-works" data-markdown data-background="#BAECF9">
[![IoT Gateway](images/iot-gw.webp)](https://psiborg.in/iot-gateway/)
</section>


<section id="iotgw-definition" data-markdown>
> An **IoT Gateway** enables communication between different IoT system layers and bridges multiple communication protocols.
</section>


<section id="iotgw-as-rpi" data-markdown data-background="#fff">
[![](images/rpi-plug.in.gif)](https://projects.raspberrypi.org/en/projects/raspberry-pi-getting-started)
</section>


<section id="ble" data-markdown data-background="#fff">
[![](images/bluetooth-le.png)](https://lastminuteengineers.com/esp32-ble-tutorial/)
</section>

<section id="what-is-ble" data-markdown data-background="#005DA3">
## What Is BLE?

A wireless standard designed for devices with limited power budgets and short data transfers.
</section>


<section id="ble-main-features" data-markdown data-background="#005DA3">
### Main Features of BLE

* **Low Power** - A device can run for months to years on a single coin-cell battery.
* **Advertising** - Devices broadcast short data packets without needing to pair.
* **Short Range** - Typically 10-100 m, well suited for sensors in a home or building.
* **Star Topology** - A central device (gateway) communicates with multiple peripherals.
</section>


<section id="ble-communication-topologies" data-markdown data-background="#005DA3">
### Communication Topologies

* **Point-to-Point**
* **Broadcast**
* **Mesh** 
* **Star topology**
</section>


<section id="ble-point-to-point" data-markdown data-background="#fff">
### Point-to-Point

[![Point-to-Point](images/ble-topology-point.to.point.png)](https://medium.com/techtrends-digest/deep-dive-understanding-bluetooth-mesh-technology-5331d04d8f9c)

notes:
- Klasické spojenie jedno zariadenie <-> jedno zariadenie (Central <-> Peripheral).
- Používa sa napr. pri fitness náramkoch, senzoroch spárovaných s telefónom.
</section>


<section id="ble-star" data-markdown data-background="#fff">
### Star

[![Star](images/ble-topology-star.png)](https://medium.com/techtrends-digest/deep-dive-understanding-bluetooth-mesh-technology-5331d04d8f9c)

notes:
- Jeden Central sa môže pripojiť k viacerým Peripheralom súčasne (v štandarde BLE 4.x zvyčajne limitované number spojení, v 5.x rozšírené). 
- Toto je bežné pri Raspberry Pi Pico/ESP32 gatewayoch, ktoré zbierajú dáta z viacerých senzorov.
</section>


<section id="ble-mesh" data-markdown data-background="#fff">
### Mesh

[![Mesh](images/ble-topology-mesh.png)](https://medium.com/techtrends-digest/deep-dive-understanding-bluetooth-mesh-technology-5331d04d8f9c)

notes:
- Zavedená v Bluetooth Mesh špecifikácii (postavená nad BLE advertising, nie nad GATT spojeniami). 
- Funguje na princípe "managed flood" – správy sa šíria cez viacero uzlov (relay nodes), takže dosah siete je oveľa väčší ako dosah jedného zariadenia. 
- Vhodné pre rozsiahlejšie inštalácie (napr. osvetlenie v budove, veľký počet senzorov).
</section>


<section id="ble-broadcast" data-markdown data-background="#fff">
### Broadcast

[![Broadcast](images/ble-topology-broadcast.png)](https://medium.com/techtrends-digest/deep-dive-understanding-bluetooth-mesh-technology-5331d04d8f9c)

notes:
- Zariadenie (Broadcaster) vysiela advertising pakety bez potreby spojenia, viacero prijímačov (Observers) ich môže čítať súčasne. 
- Typické pre BLE beacony (iBeacon, Eddystone) 
- ideálne, keď je potrebne jednosmerne posielať dáta viacerým prijímačom naraz.
</section>


<section id="ble-device-types" data-markdown data-background="#005DA3">
### BLE Device Types

* **Peripheral** - a small, low-power device that broadcasts advertising packets and waits to be connected to (e.g. a sensor).
* **Central** - a device that scans for peripherals and initiates connections (a phone, PC).
* **Broadcaster** - only broadcasts packets, with no connection possible (e.g. beacons like iBeacon).
* **Observer** - only listens to packets, never connects (e.g. Theengs Gateway)
</section>


<section id="topic-" data-markdown>
## Structure of Topic

`gw/:type/:id/:op`

* `:type` - type of device
* `:id` - unique identifier of device
* `:op` - type of operation (`/data`, `/cmd`, `/status`, `/set`)
</section>


<section id="message-example" data-markdown>
```json
{
  "dt": "2026-07-06T20:09:35Z",
  "metrics": [
    {
      "dt": "2026-07-06T20:00:00Z",
      "name": "temperature",
      "value": 23.4,
      "units": "metric"
    },
    {
      "dt": "2026-07-06T20:00:00Z",
      "name": "humidity",
      "value": 70,
      "units": "%"
    }
  ]
}
```
</section>


<section id="nodered-dashboard" data-markdown data-background="#fff">
[![](images/nodered-dashboard.png)](https://flows.nodered.org/node/@flowfuse/node-red-dashboard)

[`@flowfuse/node-red-dashboard`](https://flows.nodered.org/node/@flowfuse/node-red-dashboard)
</section>


<section id="zigbee-banner" data-markdown data-background="#fff">
[![](images/zigbee-banner.jpg)](https://koti.sk/clanky/navody/co-je-zigbee-inteligentna-domacnost/)
</section>


<section id="what-is-zigbee" data-markdown data-background="#fff">
### What Is Zigbee?

[Zigbee](https://csa-iot.org/all-solutions/zigbee/) is a low-power, wireless communication technology used for connecting devices.
</section>


<section id="zigbee-main-features" data-markdown data-background="#fff">
### Main Zigbee Features

* wireless standard IEEE 802.15.4
* low data rate - 250 kbps
* low power - long battery life
* scalability - easy to extend
* reliability - mesh networking
</section>

<section id="zigbee-device-types" data-markdown data-background="#fff">
### Device Roles in Zigbee Network

* **Coordinator** - 1 per network, controls network
* **Router** - relays messages, extends range
* **End Device** - sensor / actuator, saves power

notes:
* 1. Zigbee Coordinator (Koordinátor)
    * Je jediný v celej Zigbee sieti.
    * Vytvára a spravuje sieť.
    * Prideľuje adresy novým zariadeniam.
    * Uchováva informácie o sieti a bezpečnostné kľúče.
    * Môže zároveň vykonávať aj aplikačné funkcie (napr. riadiť inteligentnú domácnosť).

    * Príklady:

    * Zigbee USB dongle (Sonoff Zigbee Dongle, ConBee II)
    * Zigbee hub (Philips Hue Bridge, SmartThings Hub)

* 2. Zigbee Router
    * Rozširuje dosah siete.
    * Preposiela správy medzi zariadeniami (mesh networking).
    * Umožňuje pripájanie ďalších zariadení.
    * Väčšinou je trvalo napájaný zo siete (230 V alebo USB).

    * Príklady:

    * Inteligentné zásuvky
    * Nástenné vypínače
    * Žiarovky (väčšina Zigbee žiaroviek funguje ako router)
    * Repeatery

* 3. Zigbee End Device (Koncové zariadenie)
    * Neprenáša komunikáciu ďalej.
    * Komunikuje iba so svojím rodičom (koordinátorom alebo routerom).
    * Môže prechádzať do režimu spánku, čím šetrí energiu.
    * Je ideálny pre batériovo napájané zariadenia.

    * Príklady:

    * Teplotné senzory
    * Pohybové senzory
    * Kontakty na dvere a okná
    * Tlačidlá
    * Senzory vlhkosti
    * Detektory úniku vody
</section>


<section id="zigbee-topologies" data-markdown data-background="#fff">
[![Zigbee Network Topologies](images/zigbee-topologies.jpg)](https://stevessmarthomeguide.com/zigbee-basics/)
</section>


<section id="zigbee2mqtt" data-markdown data-background="#25262B">
[![](images/logo-zigbee2mqtt.png)](https://www.zigbee2mqtt.io/)

### [Zigbee2MQTT](https://www.zigbee2mqtt.io/)
</section>


<section id="questions" data-markdown data-background="#8F0000">
## Questions?
</section>


<section id="resources" data-markdown data-background="#8F0000">
## Resources

* [Node-RED homepage](https://nodered.org)
* [resulting flow](resources/flow-meteoserice.json)
* [Node-RED channel on YouTube](https://www.youtube.com/channel/UCQaB8NXBEPod7Ab8PPCLLAA)
</section>

{% include qr.html %}
