---
title: Programujeme s AI
subtitle: ...a učitelé nebudou mít co žrát
#description: |
#  Čo to je Ingress a ako funguje.

duration: 30
date: 2024-07-03
bitly: https://bit.ly/3xHHYMS
event:
    title: OSSConf 2024
    url: https://ossconf.soit.sk/
categories: talk
layout: slide
theme: night
authors:
    - name: Miroslav "mirek" Biňas
      email: miroslav.binas@tuke.sk
      url: https://bletvaska.github.io

---

<style>

/* #etl-in-bash code,
#etl-in-python code,
#cli-tool code,
#apache-airflow-installation code
{
    font-size: 0.7em;
    line-height: 1.5em;
} */

section#results-1
{
  margin-top: 20%;
  background-color: #2b3f679c;
}
</style>

{% include first.slide.html %}


<section id="pelisky" data-markdown>
![](images/pelisky.jpg)
> A ~~skláři~~ učitelé nebudou mít co žrát.
</section>


<section id="chatgpt" data-markdown data-background="white">
[![](images/chatgpt-logo.png)](https://chatgpt.com/)
</section>


<section id="homework" data-markdown>
## #1 Domáca úloha
[Vytvorte program na výpočet koreňov kvadratickej rovnice.](http://www.scspp.sk/evka/SEI_4/Zbierka.pdf)
</section>


<section id="homework-example" data-markdown>
## [Príklad](https://www.viemematiku.sk/book/cvicenie-riesenie-kvadraticke-rovnice)

Majme nasledovnú kvadratickú rovnicu:
$ 2x^2+6x−20=0 $

jej korene sú: $x_1=2$ a $x_2=-5$

notes:
* https://www.viemematiku.sk/book/cvicenie-riesenie-kvadraticke-rovnice
</section>


<section id="results-1" data-background="images/that.was.easy.jpg" data-markdown>
### That was easy!
</section>


<section id="generative-ai" data-markdown>
## Generatívne AI
</section>


<section id="state-of-ai" data-markdown data-background="white">
![](images/ai.jpg)
</section>


<section id="prompt" data-markdown>
> **Prompt** je textové zadanie (vstup), ktorým vyjadrujeme to, čo chceme pomocou daného nástroja spracovať.
</section>


<section id="prompt-overview" data-markdown data-background="white">
[![](images/prompt.png)](https://github.com/promptslab/Awesome-Prompt-Engineering)
</section>


<section id="prompt-engineering" data-markdown>
## Prompt Engineering

kvalita promptu môže významne ovplyvniť úspešnosť konverzácie a šancu na rýchle získnie ideálneho výsledku
</section>


<section id="project" data-markdown>
## #2 Väčší projekt
Naprogramujte hru Arkanoid.

notes:
1. napis prosim v jazyku python kod hry arkanoid pomocou kniznice curses.
2. zvys prosim rychlost pohybu palky pri pohybe do stran.
3. uprav sirku tehiel tak, aby sa na obrazovku vzdy voslo 10 tehiel.
4. uprav tehly tak, aby mali rovnaku sirku, aku ma aj palka. a nech su farebne.
5. pridaj do hry skore.  hrac dostane za kazdu tehlu 10 bodov. skore zobraz na obrazovke nad hernym polom hry.
6. pridaj do hry pocet zivotov. ked hrac strati zivot, nech zacne s loptickou na palke, odkial ju odrazi klavesou medzernik.
</section>


<section id="asistent" data-markdown>
## #3 Asistent učiteľa
</section>


<section id="priprava-matrosov" data-markdown>
### Príprava materiálov

notes:
1. chcel by som studentom lepsie vysvetlit tvorbu funkcii v jazyku python. napis mi prosim scenar hodiny, ako to spravit a ukazkove priklady, ktore viem pouzit.
2. chcel by som, aby hodina bola vhodna pre stredoskolskych studentov, a aby ich zaujala. rad by som pouzil priklady, ktore budu vediet robit s minecraftom v jazyku python, aby to bolo pre studentov zaujimavejsie a zivsie.
</section>


<section id="partak=do=diskusie" data-markdown>
### Všeznalý parťák do diskusie

notes:
1. potrebujem v latexu vytvorit blok, ktory bude vyzerat ako alert. chcel by som, aby mal zlte pozadie, aby mal nadpis s textom "Upozornenie" a v texte tohto bloku aby sa nachadzal text "Toto je vazny dovod, preco ChatGPT pouzivat". okrem toho chcem, aby text nadpisu bol tucny.
2. chcel by som pomocou mikrokontrolera raspberry pi pico wh vytvorit ble beacon. k mikrokontroleru mam pripojeny senzor dht11 na porte 23. chcel by som, aby kazdych 30 sekund vysielal informaciu o aktualnej teplote a vlhkosti. vysledny kod napis prosim v jazyku micropython.
</section>


<section id="" data-markdown>
## Nevie povedať nie ;)
</section>


<section id="ai-programming-assistants" data-markdown>
## AI Programming Assistants
</section>


<section id="for-free" data-markdown>
## Je to zadara!
</section>


<section id="john-connor" data-markdown>
![](images/john.connor.jpg)
</section>


<section id="questions" data-markdown>
## Otázky?
</section>


<section id="links" data-markdown>
### Odkazy

* [ChatGPT](https://chatgpt.com) - OpenAI
* [Gemini](https://gemini.google.com/app) - Google
* [Awesome Prompt Engineering 🧙‍♂️](https://github.com/promptslab/Awesome-Prompt-Engineering) - curated resources for Prompt Engineering
</section>


{% include qr.html %}
