---
title: Programujeme s AI
subtitle: a učitelé nebudou mít co žrát
#description: |
#  Čo to je Ingress a ako funguje.

duration: 30
date: 2024-07-03
# bitly: https://bit.ly/3L7OAav
event:
    title: OSSConf 2024
    url: https://ossconf.soit.sk/
categories: talk
layout: slide
theme: night
authors:
    - name: Miroslav "mirek" Biňas
      email: miroslav.binas@tuke.sk
      url: https://bletvaska.github.io

---

<style>

/* #etl-in-bash code,
#etl-in-python code,
#cli-tool code,
#apache-airflow-installation code
{
    font-size: 0.7em;
    line-height: 1.5em;
} */

section#intro,
section#k8s-rambo
{
  margin-top: 15%;
  background-color: #2b3f679c;
}
</style>

{% include first.slide.html %}


<section id="pelisky" data-markdown>
> A ~~sklenáři~~ učitelé nebudou mít co žrát.
</section>


<section id="chatgpt" data-markdown data-background="white">
[![](images/chatgpt-logo.png)](https://chatgpt.com/)
</section>


<section id="homework" data-markdown>
## #1 Domáca úloha
Vytvorte program na výpočet koreňov kvadratickej rovnice.
</section>


<section id="homework-example" data-markdown>
## [Príklad](https://www.viemematiku.sk/book/cvicenie-riesenie-kvadraticke-rovnice)

Majme nasledovnú kvadratickú rovnicu:
$ 2x^2+6x−20=0 $

jej korene sú: $x_1=2$ a $x_2=-5$

notes:
* https://www.viemematiku.sk/book/cvicenie-riesenie-kvadraticke-rovnice
</section>


<section id="prompt" data-markdown>
> **Prompt** je textové zadanie (vstup), ktorým vyjadrujeme to, čo chceme pomocou daného nástroja spracovať.
</section>


<section id="prompt-engineering" data-markdown>
## Prompt Engineering

kvalita promptu môže významne ovplyvniť úspešnosť konverácie a šancu na rýchle získnie ideálneho výsledku
</section>


<section id="project" data-markdown>
## #2 Väčší projekt
Naprogramujte hru Arkanoid.
</section>


<section id="asistent" data-markdown>
## #3 Asistent učiteľa
</section>


<section id="copilot" data-markdown>
## Copilot
</section>


<section id="john-connor" data-markdown>
![](images/john.connor.jpg)
</section>



<section id="results" data-markdown>
## Ako to dopadlo?
</section>


<section id="questions" data-markdown>
## Otázky?
</section>


<section id="links" data-markdown>
### Odkazy

* [ChatGPT](https://chatgpt.com) - OpenAI
* [Gemini]() - Google
</section>


{% include qr.html %}
