---
title: Výučba programovania tvorbou počítačových hier
description:
  Učiť sa programovať je ťažké. Učiť programovať niekoho iného je však ešte ťažšie. Čo tak však zvýšiť motiváciu študentov tým, že ich budeme učiť programovať spôsobom, kedy budú vytvárať vlastné počítačové hry? V tomto príspevku vám predstavím knižnicu pre jazyk Python s názvom Wasabi2D, ktorá vychádza z najlepších skúseností s knižnicou Pygame Zero. Predstavím vám teda nástroj, pomocou ktorého viete podporiť kreativitu (nie len) u študentov. Počas príspevku naprogramujeme od nuly jednoduchú počítačovú hru a nevyhneme sa ani porovnaniu so spomínanou knižnicou Pygame Zero.
duration: 90
date: 2023-10-27
bitly: https://bit.ly/46MaJ7g
event:
    title: IT Burza 2023
    url: https://itburza.gvpt.sk/
categories: talk
layout: slide
theme: night
authors:
    - name: Miroslav "mirek" Biňas
      email: miroslav.binas@tuke.sk
      url: https://bletvaska.github.io

# video: https://youtu.be/-_wCzGxfRK0
---
<style>
body, html{
  background-color: #222;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
  margin: auto;
  position :absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast
}
</style>


{% include first.slide.html %}


<section id="hrate-sa" data-markdown>
## Hráte sa počítačové hry?
</section>


<section id="assassins-creed" data-markdown>
![Saboteur](https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/ncom/software/switch/70010000012302/6b14a81d7a852afd6b2640a68034290c0971146e14d0b005e6eb69f4ed4aca4a)
</section>


<section id="naprogramovali-ste-hru" data-markdown>
## Naprogramovali ste si vlastnú počítačovú hru?
</section>


<section id="flappybird-gameplay" data-markdown>
![Flappy Bird](images/flappy.gif)
</section>


<section id="analysis" data-markdown data-background="#52C2CA">
![Game Analysis](images/analysis.png)

Note:
* https://www.researchgate.net/publication/324066514_Playing_Flappy_Bird_with_Deep_Reinforcement_Learning
</section>


<section id="arcade" data-markdown data-background="white">
[![Arcade Logo](images/logo-arcade.png)](https://arcade.academy/)
</section>


<section id="pyglet" data-markdown data-background="white">
[![Pyglet Logo](images/logo-pyglet.png)](https://pyglet.org/)

[https://pyglet.org/](https://pyglet.org/)
</section>


<section id="arcade-about" data-markdown>
### _Easy to use Python library for creating 2D arcade games._
</section>


<section id="installation" data-markdown>
## Inštalácia

```
$ pip install arcade
```
</section>


<section id="window" data-markdown>
## Robíme okno

```python
import arcade

class Flappy(arcade.Window):
    def __init__(self):
        super().__init__()

game = Flappy()
arcade.run()
```
</section>


<section id="project-structure" data-markdown>
## [Štruktúra projektu](resources/flappy-skelet.zip)

```
.
├── assets
│   ├── images
│   │   ├── background.png
│   │   ├── flappy.png
│   │   └── pipe.png
│   └── sounds
│       ├── die.wav
│       ├── hit.wav
│       ├── point.wav
│       └── wing.wav
└── game.py
```
</section>


<section id="warning" data-markdown>
## Upozornenie!

(no best practices provided)
</section>


<section id="game-loop" data-markdown data-background="#FEFCF6">
![Game Loop](images/game-loop-simple.png)

Note:
* http://gameprogrammingpatterns.com/images/game-loop-simple.png
</section>


<section id="2d-coordinate-system" data-markdown>
## 2D Súradnicový sys.

![2D Coordinate System](images/2d.coordinate.system.png)
</section>


<section id="sprite" data-markdown>
![Actor](images/invader.png)
</section>


<section id="sprite-fields-and-methods" data-markdown>
## Kola, Fanta, Sprite!

* `sprite.center_x`, `sprite.center_y`
* `sprite.position`
* `sprite.width`, `sprite.height`
* `sprite.draw()`
</section>


<section id="sprite-handles" data-markdown>
## Sprite Handles

![Pygame Handles](images/handles.png)
</section>


<section id="collision-detections" data-markdown>
## Detekcia kolízií
</section>


<section id="collisions" data-markdown data-background="#fff">
![Collisions](images/collisions.png)

Note:
* https://treadgaming.blogspot.com/2016/06/video-game-physics-tutorial-part-ii.html
</section>


<section id="refactoring" data-markdown>
## Refaktoring ?!
</section>


<section id="pgzero-vs-arcade" data-markdown>
### Pygame Zero vs Arcade
</section>


<section id="namakany-den" data-markdown>
[![Namakany den](images/namakany.den.png)](http://www.namakanyden.sk)

[www.namakanyden.sk](http://www.namakanyden.sk)
</section>


<section id="links" data-markdown>
## Odkazy

* [projekt](flappy.zip) - výsledný projekt
* [Arcade Homepage](https://arcade.academy/)
* [Pyglet Homepage](https://pyglet.org/)
* [Multimediální knihovna Pyglet](https://mojefedora.cz/multimedialni-knihovna-pyglet/)
* [Arcade: A Primer on the Python Game Framework](https://realpython.com/arcade-python-game-framework/)
* Assets stolen from Github: [FlapPy-Bird](https://github.com/iJohnMaged/FlapPy-Bird)
* [PyWeek](https://pyweek.org/) - Python Game Programming Challenge
</section>


{% include qr.html %}
