---
title: Django 101
description: etc
# permalink: /2021/lean-publishing
# duration: 60
layout: slide
theme: night
# date: 2021-11-09
# bitly: https://bit.ly/3oemezv
event:
    title: Namakaný webinár
    url: http://www.namakanyden.sk/
categories: talk
authors:
    - name: Mirek Biňas
      email: mirek@cnl.sk
      url: https://bletvaska.github.io
courseid: django101
---

<style>
#what-is-microservice-by-fowler > blockquote {
    width: 90%;
}

#two-scoops-of-django img {
    width: 40%;
}
</style>

{% include first.slide.html %}


<section data-markdown id="django" data-background="#103E2E">
[![Django](images/logo-django.png)](https://www.djangoproject.com/)
</section>



<section data-markdown id="django-the-movie" data-background="white">
![Django](images/django-the.movie.jpg)
</section>


<section data-markdown id="django-reinhardt" data-background="white">
[![Django Reinhardt](images/django.reinhardt.jpg)](https://en.wikipedia.org/wiki/Django_Reinhardt)
</section>


<section data-markdown >
> "**Django** is a high-level **Python Web framework** that encourages **rapid development** and **clean**, **pragmatic design**."
> ([www.djangoproject.com](https://www.djangoproject.com))
</section>


<section data-markdown id="django-history">
## History of Django

* internal project of newspaper [Lawrence Journal-World](http://www2.ljworld.com/) (Kansas) in 2003
* lead developer was former journalist
* released as open source in 2005 (BSD licence)
* in 2008 version 1.0 released
* from version 1.5 in 2013 Django supports Python3
</section>


<section data-markdown id="django-principles">
## Django Principles

* DRY
* write less code:
    > "Django is web framework for perfectionists with deadlines."
* make CRUD easy
* DB neutral
* deployment neutral (WSGI/ASGI/CGI/...)

</section>


<section data-markdown id="two-scoops-of-django">
[![Two Scoops of Django - cover](images/cover-two.scoops.of.django.jpg)](https://www.feldroy.com/books/two-scoops-of-django-3-x)
</section>


<section data-markdown id="project-structure">
## Recommended Project Structure

```
repository_root/
├── configuration_root/
└─── django_project_root/
```
</section>


<section data-markdown>
## The Golden Rule of Django App Design

> The art of creating and maintaining a good Django app is that it should follow the truncated Unix philosophy according to Douglas McIlroy: **"Write programs that do one thing and do it well."** (James Bennett, a Django core developer)
</section>


<section data-markdown id="cbv-vs-fbv" data-background="#5D17EB">
![](https://i.ytimg.com/vi/KskV5dWq7Tk/maxresdefault.jpg)
</section>


<section data-markdown>
## FBV vs CBV
</section>


<section data-markdown id="guidelines-for-writing-fbv">
## Guidelines for Writing FBV

* Less view code is better.
* Never repeat code in views.
* Views should handle presentation logic. Try to keep business logic in models when possible, or in forms if you must.
* Keep your views simple.
* Use them to write custom 403, 404, and 500 error handlers.
* Complex nested-if blocks are to be avoided.

notes:
* two scoops of django, 9th chapter
</section>


<section data-markdown id="templates">
## Template Components

* **variables** - hold data
  ```
  {% raw %}{{ person.name }}{% endraw %}
  ```
* **tags** - perform logic
  ```
  {% raw %}{% include "detail.html" %}{% endraw %}
  ```
* **filters** - operate on data
  ```
  {% raw %}{{ person.name | upper }}{% endraw %}
  ```
</section>


<section data-markdown id="template-example">
![Example](https://files.speakerdeck.com/presentations/5431f020a5cf0130d06036e1e4c67336/slide_15.jpg)
</section>


<section data-markdown id="drf" data-background="#fff">
[![Django REST Framework](https://www.django-rest-framework.org/img/logo.png)](https://www.django-rest-framework.org/)
</section>


<section data-markdown id="pytest" data-background="#ECECEC">
[![Pytest](images/logo-pytest.webp)](https://pytest.org)
</section>


<section data-markdown id="how-to-write-unit-tests">
## How to Write Unit Tests
</section>


<section data-markdown id="each-test-method-tests-one-thing">
## Each Test Method Tests One Thing 
</section>

{% include qr.html %}

