---
title: How to teach, design and program robotic and IoT systems
description: |
    This article summarizes the results from more than twenty years of continual quality research related to teaching of construction and programming of robotic systems, construction of systems controlled by microcontrollers, teaching and study materials with internal intelligence and also IoT systems on elementary schools, high schools and universities.
duration: 13
date: 2022-10-20
event:
    title: ICETA 2022
    url: http://www.iceta.sk/
categories: talk
layout: slide
theme: night
authors:
    - name: J. Hrbáček, M. Biňas, J. Strach
#      email: miroslav.binas@tuke.sk
#      url: https://bletvaska.github.io
#     - name: Jiří Hrbáček
#       email: hrbacek@ped.muni.cz
#     - name: J. Strach
#       email: strach@ped.muni.cz 
bitly: https://bit.ly/3ETfDVb
---

{% include first.slide.html %}


<section id="robotic-systems" data-markdown data-background="images/johny.five.jpg">
</section>


<section id="kids-and-robotic-systems" data-markdown data-background="images/lego.vernie.jpg">
</section>


<section id="learning" data-markdown>
It is necessary to learn, how to **design** and **program** robots **systematically** and **adapt** teaching to actual needs.
</section>


<section id="experience" data-markdown>
## 20 Years of Experience
</section>


<section id="why-only-one-language" data-markdown>
## Trainings for Trainers

![Johny Five is Learning](images/johny.five.is.learning.gif)
</section>


<section id="trainings" data-markdown>
* tech is evolving
* level of knowledge of trainers
* need for creation of network of experts
* teaching on different professional levels
</section>


<section id="traditional-robotic-courses" data-markdown>
    > Traditional robotic and IoT courses are focuses **only to programming** and **not to the hardware** related topics.
</section>


<section id="hardware-and-software-part" data-markdown>
design and construction of these systems consists of two parts:

1. **hardware part**
2. **software part**
</section>


<section id="consequences" data-markdown>
### ...some consequences follows...
</section>

<section id="wrong-wiring" data-markdown>
* **wrong wiring** and **defective parts**
    * students are not able to identify and fix such issues (nobody teached them)
    * many teachers are not capable too :-(
</section>


<section id="diagnostics-and-selftests" data-markdown>
* **no diagnostics** during development
* **no selftest** when system is turned on
* trial-and-error procedure instead :-(
</section>


<section id="car-dahsboard" data-markdown data-background="#000000">
![Car Dashboard Selftest](images/car.dashboard.png)
</section>


<section id="check-engine" data-markdown data-background="#030305">
![Check Engine](images/check.engine.gif)
</section>


<section id="questions" data-markdown>
## Questions?
</section>


<section id="links" data-markdown>
## Links

* used pictures are from the [Short Circuit](https://www.imdb.com/title/tt0091949/?ref_=fn_al_tt_1) (1986) movie, [LEBO Boost](https://www.lego.com/sk-sk/product/boost-creative-toolbox-17101)
</section>


{% include qr.html %}

