---
title: Node-RED 101
subtitle: How to create a solution for hackathons without writing a single line of code
description:
duration: 30
date: 2022-07-01
layout: slide
event:
    title: Citython 2022
    url: https://www.citython.sk/
categories: talk
theme: night
authors:
    - name: Miroslav "mirek" Biňas
      email: mirek@cnl.sk
      url: https://bletvaska.github.io
bitly: https://bit.ly/3Ny4cmn
#video: https://youtu.be/coqzmKypHyE
---

<style>
#handlebars-template > pre,
#handlebars-template-for-opensky > pre,
#webpage-template > pre
{
    font-size: 0.4em;
}
</style>

{% include first.slide.html %}


<section id="about-mirek" data-markdown>
[![mirek](images/mirek.na.hackathone.jpg)](https://bletvaska.github.io)
</section>


<section id="the-usecase" data-markdown data-background="#8F1200">
## Traditional Hackathon Use Case

notes:
* ukradnut data, spracovat ich, poskytnut pouzivatelom
* stiahneme informácie o letoch nad slovenskom pomocou komunikačného protokolu HTTP
* spracujeme ich a zobrazíme ich na vlastnej mape
* zautomatizujeme proces sťahovania a aktualizácie údajov na mape
* získané údaje prepošleme ďalej pomocou komunikačného protokolu MQTT
* údaje začneme lokálne ukladať
* poskytneme ich ďalej pomocou REST API
* urobíme jednoduchú webovú stránku
* budem robit nazivo a samozrejme budem podvadzat
</section>


<section id="its-all-about-data" data-markdown data-background="#8F1200">
## It's all about **data**!
</section>


<section id="node-red" data-markdown data-background="#8f1200">
[![Node-RED Logo](images/logo-node.red.png)](https://nodered.org)
</section>


<section id="getting-the-data" data-markdown data-background="#8F1200">
## 1. Collecting Data

notes:
* running
  ```bash
  $ docker container run --publish 1880:1880 --name nodered --volume $(pwd)/data:/data --rm nodered/node-red
  ```
</section>


<section id="antik-bikes" data-markdown data-background="#fff">
[![Antik](images/logo-antik.png)](https://www.antik.sk/)

https://gbfs.sharing.antik.sk/v2/antiksharing_ke/gbfs.json
</section>


<section id="getting-the-data-flow" data-markdown data-background="#fff">
![Zber údajov](images/01.retrieve.data.png)
</section>


<section id="message" data-markdown data-background="#8f1200">
## The Message

```json
{
    "_msgid": "89cbb063.7f7a7",
    "payload": "Hello world!",
    "topic": "Greetings!"
}
```
</section>

<section id="presenting-the-data" data-markdown data-background="#8F1200">
## 2. Presenting the Data
</section>


<section id="worldmap-node" data-markdown data-background="#8f1200">
[![node-red-contrib-web-worldmap](images/worldmap.node.gif)](https://flows.nodered.org/node/node-red-contrib-web-worldmap)
[node-red-contrib-web-worldmap](https://flows.nodered.org/node/node-red-contrib-web-worldmap)

notes:
* nainstalujeme plugin worldmap
* nastavit zemepisnu vysku a sirku, zoom level na hodnotu 8
* nainstalujeme plugin pre handlebars
</section>


<section id="handlebars-template" data-markdown data-background="#8f1200">
## Template for Data Processing

```json
{% raw %}[
    {{#each data.bikes }}
    {
        "lon": {{ lon }},
        "lat": {{ lat }},
        "name": "{{ bike_id }}",
        "is_reserved": "{{ is_reserved }}",
        "is_disabled": "{{ is_disabled }}",
        "icon": "fa-bicycle",
        "ttl": 60,
        "layer": "bikes"
    }
    {{#unless @last}},{{/unless}}
    {{/each}}
]
{% endraw %}
```
</section>


<section id="presenting-the-data-flow" data-markdown data-background="#fff">
![Data presentation](images/02.presenting.data.png)
</section>


<section id="open-sky-network" data-markdown data-background="#8F1200">
[![The OpenSky Network](images/logo-opensky.png)](https://openskynetwork.github.io/opensky-api/index.html)

https://opensky-network.org/api/states/all?lamin=47.4912&lomin=16.4517&lamax=49.8981&lomax=25.9378
</section>


<section id="handlebars-template-for-opensky" data-markdown data-background="#8f1200">
## Template

```json
{% raw %}[
    {{#each states}}
    {
        "name": "{{0}}",
        "icao24": "{{0}}",
        "callsign": "{{1}}",
        "origin_country": "{{2}}",
        "lon": {{5}},
        "lat": {{6}},
        "icon": "plane",
        "speed": {{9}},
        "last_contact": {{4}},
        "heading": {{10}},
        "ttl": 60,
        "layer": "flights"
    }
    {{#unless @last}},{{/unless}}
    {{/each}}
]
{% endraw %}
```
</section>


<section id="updating-of-data" data-markdown data-background="#8F1200">
## 3. Updating Data

notes:
* nechame udaje stahovat napr. kazdych 10s
* cron job / systemd timers
* udaje budeme aktualizovat kazdych 5s, ale netreba zabudnut na cakanie 6s na zaciatku kvoli inicializacii mapy
</section>


<section id="updating-data-flow" data-markdown data-background="#fff">
![Updating Data](images/03.updating.data.png)
</section>


<section id="publishing-data-with-mqtt" data-markdown data-background="#8F1200">
## 4. Publishing Data with MQTT

notes:
* MQTT je jeden zo zakladnych komunikacnych protokolov v IoT rieseniach
* pouzijeme `broker.hivemq.com:1883` a topic `ossconf/flights`
</section>


<section id="publishing-data-flow" data-markdown data-background="#fff">
![Publishing Data](images/04.publishing.data.with.mqtt.png)
</section>


<section id="creating-rest-api" data-markdown data-background="#8F1200">
## 5. REST API

* HTTP protocol
* endpoint: `/api/bikes/:bikeid`

notes:
</section>


<section id="local-db" data-markdown data-background="#8F1200">
## Local Database

* REST API must return data immediately after receiving a request
* db as global variable
* simple dictionary (`key-value` store)
</section>

<section id="local-db-template" data-markdown data-background="#8F1200">
```json
{% raw %}{
{{#each this}}
    "{{ name }}": {
        "lon": {{ lon }},
        "lat": {{ lat }},
        "bike_id": "{{ name }}",
        "is_reserved": "{{ is_reserved }}",
        "is_disabled": "{{ is_disabled }}"
    }
    {{#unless @last}},{{/unless}}
{{/each}}
}
{% endraw %}
```

notes:
* vysledok vlozime pomocou uzla `CHANGE` do premennej `global.bikes = msg.payload`
</section>


<section id="storing-data-flow" data-markdown data-background="#fff">
![Storing the Data](images/05.storing.data.png)
</section>


<section id="rest-api-flow" data-markdown data-background="#fff">
![REST API](images/06.rest.api.png)

notes:
* `CHANGE` uzol urobi `msg.payload = global.bikes[msg.req.params.bikeid]`
</section>


<section id="testing-the-rest-api" data-markdown data-background="#8f1200">
## Testing the REST API

http://localhost:1880/api/bikes/:bikeid
</section>


<section id="web-page" data-markdown data-background="#8F1200">
## 6. Web Page

(similar to REST API)

notes:
</section>


<section id="webpage-template" data-markdown data-background="#8F1200">
```html
{% raw %}&lt;h1>Bike {{payload.name}}&lt;/h1>

&lt;ul>
    &lt;li>
        &lt;b>Longitude&lt;/b>: {{ payload.lon }}
    &lt;/li>
    &lt;li>
        &lt;b>Latitude&lt;/b>: {{ payload.lat }}
    &lt;/li>
    &lt;li>
        &lt;b>Is Reserver&lt;/b>: {{ payload.is_reserved }}
    &lt;/li>
    &lt;li>
        &lt;b>Is Disabled&lt;/b>: {{ payload.is_disabled }}
    &lt;/li>
&lt;/ul>
{% endraw %}
```

notes:
* vysledok vlozime pomocou uzla `CHANGE` do premennej `global.flights = msg.payload`
</section>


<section id="web-page-flow" data-markdown data-background="#fff">
![Web Page](images/07.web.page.png)

notes:
* `SWITCH`:
    * `property = global.flights`
    * `has key = msg.req.params.flight`
    * `otherwise`
* `CHANGE`
  * `msg.payload = global.flights[msg.req.params.flight]`
</section>


<section id="what-can-nodered-do" data-markdown data-background="#8F1200">
## What else can Node-RED do?

* websockets
* connected hw
* dashboards
* integration with DBS
* integration with external services
* own functions as nodes (JavaScript, Python)
* ...
</section>


<section id="questions" data-markdown data-background="#8F1200">
## Questions?
</section>


<section id="resources" data-markdown data-background="#8f1200">
## Resources

* [Node-RED Homepage](https://nodered.org)
* [FRED: Front End For Node-RED](https://fred.sensetecnic.com)
* [The Result Flow](resources/flows-bikes.json)
* [Node-RED YouTube Channel](https://www.youtube.com/channel/UCQaB8NXBEPod7Ab8PPCLLAA)
</section>


{% include qr.html %}

