---
title: Ako vyzerá BC štúdium na KPI@TUKE
description: |
    Ako vyzerá štúdium na KPI?
duration: 25
date: 2025-03-04
layout: slide
event:
    title: SOST Michalovce
    url: https://sostmi.edupage.org/
categories: talk
theme: night
authors:
    - name: Miroslav Murin
      email: miroslav.murin@tuke.sk
#      url: https://bletvaska.github.io
bitly: https://bit.ly/3RwnEE0
# video: https://youtu.be/s1RbHF_HCXo
---

<style>
#textovka code {
  background-color: #111111;
}

#micropython-and-thonny > p > a > img {
  height: 180px;
  padding: 25px;
}

#to-adafruit-with-http > pre {
  font-size: 0.4em;
}
</style>


<section id="hrate-sa" data-markdown>
## Kvíz
#### Uhádni, čo je na obrázku?
</section>


<section id="minecraft" data-background="images/minecraft.jpg">
</section>

<section id="assassins-creed" data-background="images/assassins.creed.jpg">
</section>


<section id="programming-by-creating-games" data-markdown>
### Výučba programovania tvorbou hier
(Since 2010!)
</section>


<!--
<section id="mirek" data-markdown>
![thats me](images/mirek.na.hackathone.jpg)
</section>
-->


<section id="kpi" data-markdown data-background="white">
[![KPI](images/logo-kpi.png)](https://kpi.fei.tuke.sk/)
</section>

{% include first.slide.html %}


<section id="first-year" data-markdown>
## 1. ročník

štúdium pre celú fakultu
</section>


<section id="zap" data-markdown>
## [Základy algoritmizácie a programovania](https://kurzy.kpi.fei.tuke.sk/zap/)
(1. semester)
</section>

<section id="zap-info">
  <iframe width="840" height="472" src="https://www.youtube.com/embed/y7gSpAKBLdk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="allowFullScreen" data-autoplay></iframe>
</section>


<section id="zap-best-projects">
  <iframe width="840" height="472" src="https://www.youtube.com/embed/rFA6d6X_ohk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen data-autoplay></iframe>
</section>


<section id="hands-off-program" data-markdown>
## Hands Off!

* program pre tých, ktorí sa **CHCÚ(!)** dozvedieť viac
* z 200+ až na 10- ;)

notes:
* mame vela studentov, medzi ktorymi su aj dobri studenti
* chceme podporit a pracovat so studentmi, ktori chcu pracovat
* vymysleli sme program, do ktoreho sa moze zapojit kazdy, ale:
  * treba ukazat, ze co spravili
</section>


<section id="openlab" data-markdown>
![OpenLab](images/openlab.jpg)
</section>


<section id="hands-off-promo" data-background="#fff">
  <iframe width="840" height="472"
    src="https://www.youtube.com/embed/zNLJ-6_SdPA"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen data-autoplay></iframe>
</section>


<section id="programovanie" data-markdown>
## [Programovanie](https://kurzy.kpi.fei.tuke.sk/pvjc/2023/)
(2. semester)
</section>


<section id="k-game" data-markdown data-background="#2E3436">
![K](images/k.curses.png)
</section>

<section id="textovka" data-markdown>
```
Prebudil si sa v malom dvojmotorovom lietadle, plachtiacom nad
egyptskou púšťou. Je tu nádherný kľud, pretože motory stoja a na
palube nie je okrem teba živá duša. (Celkom zaujímavá situácia,
že?)

Vidíš:
  bic
  prazdne sedadla

Možné východy z miestnosti:
  dolu

> vezmi bic
Do batohu si si vložil bic.
>
```
</section>

<section id="mastermind" data-markdown>
![](images/mastermind.jpg)
</section>


<section id="second-year" data-markdown>
## 2. ročník
</section>


<section id="programovanie" data-markdown>
## [Objektovo-orientované programovanie](https://kurzy.kpi.fei.tuke.sk/oop)
(3. semester)
</section>


<section id="alien-breed" data-markdown>
![Alien Breed OOP Remake](images/alien.breed.remake.png)
</section>


<section id="alien-trilogy-giveaway" data-markdown data-background="#030504">
[![Alien Giveaway](images/alien.trilogy.giveaway.jpg)](https://www.gog.com/en/game/alien_breed_tower_assault)
</section>


<section id="architektury-pocitacovych-systemov" data-markdown>
## Architektúry počítačových systémov
(3. semester)
</section>


<section id="aps-video">
  <iframe width="840" height="472"
  src="https://www.youtube.com/embed/cC-_A4vo6-Y"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen data-autoplay></iframe>
</section>

<section id="komponentove-programovaine" data-markdown>
## [Komponentové programovanie](https://kurzy.kpi.fei.tuke.sk/kp) & [Databázové systémy](https://kurzy.kpi.fei.tuke.sk/dbs)
(4. semester)
</section>


<section id="">
  <iframe width="840" height="472"
  src="https://www.youtube.com/embed/HVcUXqht6O8"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen data-autoplay></iframe>
</section>




<section id="third-year" data-markdown>
## 3. ročník
</section>


<section id="internet-vecí" data-markdown>
## [Internet vecí](https://kurzy.kpi.fei.tuke.sk/iot1)
(5. semester)
</section>


<section id="hackathon" data-background="images/hackathon.jpg">
</section>


<section id="inteligentne-systemy-v-informatike" data-markdown>
## Inteligentné systémy v informatike
(5. semester)
</section>


<section id="vyvoj-pocitacovych-hier" data-markdown>
## [Dizajn a vývoj počítačových hier](https://kurzy.kpi.fei.tuke.sk/gamedev/)
(6. semester)
</section>


<section id="">
  <iframe width="840" height="472"
  src="https://www.youtube.com/embed/1lSlIZyipeU"
  title="Game Jam 2023"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen data-autoplay></iframe>
</section>


<section id="namakany-den" data-markdown data-background="white">
[![Namakaný deň](images/logo-namakany.den.png)](http://www.namakanyden.sk)
[www.namakanyden.sk](http://www.namakanyden.sk)
</section>


<section id="questions" data-markdown>
## Otázky?
</section>


<section id="links" data-markdown>
## Odkazy

* [KPI@TUKE](https://kpi.fei.tuke.sk) - [YouTube](https://www.youtube.com/@kpi_fei_tuke), [FB](https://www.facebook.com/kpi.fei.tuke)
* [ED Hackathon 2022](https://kosicehackathon2022.sk)
* [Hackathon 2022](https://hackathon.deutschetelekomitsolutions.sk)
* [Namakaný deň](http://www.namakanyden.sk) - [YouTube](https://www.youtube.com/@namakanyden), [FB](https://www.facebook.com/namakanyden)
</section>


{% include qr.html %}
