---
title: O bezpečnosti v Internete ovládanom toastermi
description: |
  Legenda hovorí, že písmeno „S“ v skratke IoT znamená „bezpečnosť“. A tak, ako v skratke chýba písmeno S, tak sa bezpečnosti venujeme nedostatočne – ak vôbec – aj vo výučbe príslušných technológií. Dopadom tejto nedbanlivosti môže byť práve Internet ovládaný ovládnutými toastermi.
  V tomto príspevku vám predstavím, ako sa tejto hrozbe snažíme predísť vo výučbe predmetu IoT na TUKE, a aký obrovský popularizačný potenciál táto téma má. A ako bonus si môžete sami vyskúšať zabezpečenie jedného z našich zariadení.
duration: 25
date: 2025-07-03
bitly: http://bit.ly/4np46AN
event:
    title: OSSConf 2025
    url: https://ossconf.soit.sk/
categories: talk
layout: slide
theme: night
authors:
    - name: Miroslav "mirek" Biňas
      email: miroslav.binas@tuke.sk
      url: https://bletvaska.github.io

---

<style>
section#intro,
section#k8s-rambo
{
  margin-top: 15%;
  background-color: #2b3f679c;
}
</style>

{% include first.slide.html %}


<section id="the-legend" data-markdown>
> Písmeno "S" v skratke IoT znamená _bezpečnosť_.

notes:
* legenda
</section>


<section id="statista" data-background="#f5f5f5">
  <a href="https://www.statista.com/statistics/1183457/iot-connected-devices-worldwide/" rel="nofollow"><img src="https://www.statista.com/graphic/1/1183457/iot-connected-devices-worldwide.jpg" alt="Statistic: Number of Internet of Things (IoT) connections worldwide from 2022 to 2023, with forecasts from 2024 to 2034 (in billions)  | Statista" style="width: 85%; height: auto !important; max-width:1000px;-ms-interpolation-mode: bicubic;"/></a>


  <aside class="notes">
    bilion - v amerike je to 10^12, u nas je to 10^18
  </aside>
</section>


<section id="security-risk" data-markdown>
## Bezpečnostné riziko

notes:
* uvedomme si dopad problemu
  * teplomer v akvarku v kasine
* firma vyrobi dajme tomu milion zariadeni, ktore aj preda. a dojde k bezpecnostnemu incidentu.
  * budeme ho vediet opravit? nie je "poskodeny" aj aktualizacny mechanizmus? a mame ho vlastne? a da sa este aj pouzit?
  * co ak zakaznici zacnu predane kusy vracat a chciet peniaze? utiahneme to?
  * co ak my budeme musiet chodit a servisovat zakaznicke nasadenia? utiehneme to?
  * co to spravi s menom nasej spolocnosti? prezijeme to?
* bankrot?
</section>


<section id="owasp" data-markdown>
[![](images/logo-owasp.png)](https://owasp.org/)

notes:
* a tak som rozmyslal, ako tuto temu dostat do vyucby.
* OWASP
  * organizacia, ktora popularizuje bezpecnost
  * vytvara konferencie, talky, nastroje, ...
  * najznamejsi projekt sa vola OWASP Top 10
    * hovori o 10 najvacsich problemoch/rizikach pri vyvoji webovych aplikacii
    * aktualizuje sa kazde zhruba 4 roky komunitou odbornikov (desattisice ludi (mozno stotisice))
</section>


<section id="owasp-iot-top-10" data-markdown data-background="#303030">
[![](images/owasp.iot.top.ten.jpg)](https://wiki.owasp.org/index.php/OWASP_Internet_of_Things_Project#tab=IoT_Top_10)

notes:
* jednym z jej projektov je vsak aj OWASP IoT Top 10
* zoznam 10 najvacsich hrozieb v oblasti IoT
</section>


<section id="video-lecture">
  <h2><a href="https://kurzy.kpi.fei.tuke.sk/iot1/2024/lectures/10.html">IoT a bezpečnosť</a></h2>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/6fe81A7zpPY?si=nSRrPeZTawsUVOkS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

  <aside class="notes">
    najprv kolega spravil prvy prispevok v podobe video prednasky a potom som tu jednu prednasku rozsiril na dve plnohodnotne prezencne prednasky
  </aside>
</section>


<section id="owasp-iot-goat" data-markdown>
[![](https://opengraph.githubassets.com/f993c8e3694331cd888fa6ca319a677984f9609bdfb5ce8bfe5bb245ac557e1e/OWASP/IoTGoat)](https://github.com/OWASP/IoTGoat)

notes:
* spekuloval som nad praktickym prevedenim
* OWASP IoT Goat
  * obraz pre RPi2 (ide aj na 3, ale verzia 2015)
  * zalozeny na OpenWRT projekte
  * plus niekolko bezpecnostnych problemov
</section>


<section id="the-impact" data-markdown>
## Aký to malo dopad?

notes:
* bola to supa
* praktike cviko + vyrobeny docker obraz
  * studenti bez skusenosti  nemohli robit sami
  * talk pre it spolocnost
  * talk pre klub ucitelov
* ale nasi studenti?
</section>


<section id="the-result" data-markdown>
## Žiadny :-(

notes:
* ziadny alebo minimalny
* predposleny den pred deadline-om ma napadlo pozerat sa aj na tento problem
  * najhorsi/najslabsi studenti
  * sprava hesiel/uctov
</section>


<section id="hardcoded-passwords" data-markdown>
### #1 Weak, guessable or hard coded passwords
</section>


<section id="hardcoded-passwords-description" data-markdown>
> Use of easily bruteforced, publicly available, or unchangeable credentials, including backdoors in firmware or client software that grants unauthorized access to deployed systems.
</section>



<section id="examples-1" data-markdown>
![](images/students-js1.jpg)

notes:
* staticka (hardcoded passwords) konfiguracia pre mqtt pripojenie
* TUYA like - posiela to na cinske servery
</section>


<section id="examples-2" data-markdown>
![](images/students-js2.jpg)

notes:
* to iste, len zapisane inac
* co sa stane, ak dojde k vyzradeniu loginu a hesla a admini prijmu strasne rozhodnutie, ze credentials zmenia?
</section>


<section id="examples-3" data-markdown>
![](images/students-python1.jpg)

notes:
* to iste, ale pre zmenu v pythone
</section>


<section id="examples-4" data-markdown>
![](images/students-python2.jpg)

notes:
* opat defaults pre mqtt a databazu
</section>


<section id="examples-5" data-markdown>
![](images/students-python3.jpg)
</section>


<section id="examples-6" data-markdown>
![](images/students-python4.jpg)
</section>


<section id="nordvpn-survey" data-markdown data-background="white">
[![](images/nordvpn.png)](https://s1.nordcdn.com/nord/misc/0.42.0/vpn/brand/your-smart-devices-put-you-at-risk.pdf)

notes:
* aby som zdovodnil, ze preco je to dolezite - Nordic VPN urobil prieskum a polozil tuto otazku
  * vsimnite si, ze predvolene heslo na zariadeni zmeni len necelych 36% pouzivatelov
  * to znamena, ze 64%, resp. 2 z 3 zariadeni maju nastavene predvolene heslo a utocnik ma sancu 2 z 3, ze sa s tym heslom trafi :-P
</section>


<section id="the-plan" data-markdown>
## Capture the Flag

* CTF je typ [bezpečnostnej súťaže]()
* úlohou súťažiacich (hackerov) je nájsť tzv. [vlajky]() (špeciálny reťazec, napr `CTF-A1B2C3`)
* vlajky je možné nájsť na rozličných miestach (napr.  v kóde webovej stránky, hlavičke HTTP správy, v konfiguračnom súbore, v MOTD, v binárke súboru, ...)
* na ich získanie sú potrebné technické zručnosti a znalosti

notes:
* na popularizaciu a otestovanie bezpecnosti sa organizuju rozlicne sutaze. jednou z nich je aj CTF
* ulohou sutaziacich si hladat vlajky
  * je to specialny retazec
  * moze byt kdekolvek
  * kdekolvek znamena fakt kdekolvek
* priklad:
  * mame webovu appku
  * vlajky mozu byt:
    * v HTML kode v prehliadaci
    * v dotahovanom JS kode v prehliadaci
    * v hlavicke/tele odpovede HTTP protokolu
    * vo websockete
    * v konkretnej polozke v databaze
    * v konfiguracnom subore webovej aplikacie
    * v konfiguracnom subore weboveho servera, ktory tuto aplikaciu spusta
    * v konfigracnom subore databazavoeho systemu
    * v MOTD
    * v premennych prostredia spusteneho kontajneru
</section>


<section id="the-goal" data-markdown>
### Cieľ - [integrovať CTF do zariadení IoT Gateway]()

notes:
* detiska budu moct hackovat
* budu odmenovani bodmi navyse
  * mozno aj velmi velkymi bodmi
</section>


<section id="smart-department" data-markdown data-background="white">
![](images/smart.department-architecture.png)

notes:
* hovoril som vlani
* trojvrstvova iot architektura
  1. senzory a akcne cleny
  2. IoT Gateway
  3. Webove appky a sluzby
* plan bol doniest uz ukazkove zariadenie tu, ale nevyslo to tak, ako som zamyslal :-/
* dufam, ze o rok :-)
</section>


<section id="questions" data-markdown>
## Otázky?
</section>


<section id="links" data-markdown>
### Odkazy

* [Namakaný webinár #43](https://namakanyden.sk/webinare/)
* [OWASP IoT Top 10](https://wiki.owasp.org/index.php/OWASP_Internet_of_Things_Project#tab=IoT_Top_10)
* [OWASP IoT Goat](https://github.com/OWASP/IoTGoat)
* Marek Šoltés: [Bezpečnosť v IoT riešeniach podľa OWASP IoT Top 10 projektu](https://opac.crzp.sk/?fn=detailBiblioFormChildU1NMN&sid=226A7A544DA3649F675838E9F6D0&seo=CRZP-detail-kniha) - diplomovka
</section>


{% include qr.html %}
